<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/public/elememtmodel/elementStyles.css}">;
    <link rel="stylesheet" th:href="@{/css/frontend/navForMemCenter/navForMemCenter.css}" />
    <style>
        body {
            /*             font-family: Arial, sans-serif; */
            background-color: #f4f4f4;
            margin: 0;
            padding: 0px;
            text-align: center;
        }

        h1 {
            color: #333;
        }

        table {
            border-collapse: collapse;
            /*             width: 60%; */
            margin: 20px auto;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        }

        table,
        th,
        td {
            border: 1px solid #333;
        }

        th,
        td {
            padding: 12px;
            padding-right: 100px;
            text-align: left;
        }

        th {
            background-color: #ddd;
        }

        span.error {
            color: red;
        }

        #the_file {
            display: none;
        }

    </style>
    <title>Fall衣Love修改頁面</title>
</head>
<body>
    <div th:insert="~{/frontend/navForMemCenter/navForMemCenter :: nav}"></div>
    <main>
        <h1>修改資料</h1>
        <form method="post" th:action="@{updateMember}" th:object="${data}" enctype="multipart/form-data">
            <table style="width: 100px">
                <tr>
                    <td>項目</td>
                    <td>資料</td>
                </tr>
            </table>
            <input type="hidden" th:field="*{memNo}">
            <div class="input-box">
                <label>姓名：<b>*</b></label>
                <input type="text" placeholder="請輸入姓名" th:field="*{memName}" />
                <span th:if="${#fields.hasErrors('memName')}" th:errors="*{memName}" class="error"></span>
            </div>

            <div class="input-box">
                <label>會員帳號：<b>*</b></label>
                <input type="text" placeholder="請輸入會員帳號" th:field="*{memAcc}" />
                <span  th:if="${#fields.hasErrors('memAcc')}" th:errors="*{memAcc}" class="error" id="ename.errors"></span>
                <span th:text="${duplicateAccount}" class="error" id="duplicateAccount.error"></span>
            </div>

            <div class="input-box">
                <label>會員密碼：<b>*</b></label>
                <input type="password" placeholder="請輸入會員密碼" th:field="*{memPwd}"/>
                <span  th:if="${#fields.hasErrors('memPwd')}" th:errors="*{memPwd}" class="error" id="memPwd.errors"></span>
            </div>

            <div class="column">
                <div class="input-box">
                    <label>手機號碼：<b>*</b></label>
                    <input type="text" placeholder="例：0912345678" th:field= "*{memMob}" />
                    <span th:if="${#fields.hasErrors('memMob')}" th:errors="*{memMob}" class="error"></span>
                    <span th:text="${duplicateMobile}" class="error" id="duplicateMobile.error"></span>
                </div>
            </div>
            <div class="gender-box">
                <h3>性別：<b>*</b></h3>
                <div class="gender-option">
                    <div class="gender">
                        <input type="radio" id="check-male"  th:field="*{memGender}" th:value="0"/>
                        <label for="check-male">男性</label>
                    </div>
                    <div class="gender">
                        <input type="radio" id="check-female"  th:field="*{memGender}" th:value="1"/>
                        <label for="check-female">女性</label>
                    </div>
                </div>
            </div>
            <span th:if="${#fields.hasErrors('memGender')}" th:errors="*{memGender}" class="error"></span>

            <div class="input-box">
                <label>信箱:<b>*</b></label>
                <div class="email-input-container">
                    <input type="text" placeholder="會員信箱" th:field="*{memMail}" />
                </div>
                <span th:if="${#fields.hasErrors('memMail')}" th:errors="*{memMail}" class="error" id="email.errors"></span>
                <span th:text="${duplicateMail}" class="error" id="duplicateMail.error"></span>
            </div>

            <div class="input-box address">
                <label>地址：<b>*</b></label>
                <div class="column">
                    <div class="select-box dropdown">
                        <select name="country" id="country_box">
                            <option value="">選擇縣市</option>
                        </select>
                    </div>
                    <div class="select-box dropdown">
                        <select name="district" id="district_box">
                            <option value="">選擇鄉鎮市區</option>
                        </select>
                    </div>
                </div>
                <input type="text" placeholder="請輸入詳細地址" th:field= "*{memAdd}"/>
                <span th:if="${#fields.hasErrors('memAdd')}" th:errors="*{memAdd}" class="error"></span>
            </div>

            <div class="input-box">
                <label>生日:<b>*</b></label>
                <input type="date" placeholder="請輸入生日" th:field="*{memBd}" />
                <span th:if="${#fields.hasErrors('memBd')}" th:errors="*{memBd}" class="error"></span>
            </div>

            <div class="input-box">
                <label>信用卡號:<b>*</b></label>
                <input type="text" placeholder="請輸入信用卡卡號" th:field="*{memCard}" />
                <span th:if="${#fields.hasErrors('memCard')}" th:errors="*{memCard}" class="error"></span>
            </div>
            <br>
            <div class="input-box">
                <label>驗證狀態:</label>
                <b>
                    <span th:text="${data.memStat == 0 ? '未驗證' : data.memStat == 1 ? '已驗證' : '未驗證'}"></span>
                </b>
                <input type="hidden" th:field="*{memStat}" name="memStat">
                <span th:if="${#fields.hasErrors('memStat')}" th:errors="${data.memStat}" class="error"></span>
            </div>
            <br>

            <input type="file" th:field= "*{memPic}" id="the_file">
            <input type="hidden" th:field="*{memberJoinTime}">

            <!--            <input type="hidden" th:field="*{memName}">-->
            <!--            <input type="hidden" th:field="*{memAcc}">-->
            <!--            <input type="hidden" th:field="*{memPwd}">-->
            <!--            <input type="hidden" th:field="*{memMob}">-->
            <!--            <input type="hidden" th:field="*{memGender}">-->
            <!--            <input type="hidden" th:field="*{memMail}">-->
            <!--            <input type="hidden" th:field="*{memAdd}">-->

            <input type="submit" class="submit" value="修改資料">

        </form>
    </main>

    <button id="button" class="ui-state-default ui-corner-all" style="display: none;">註冊會員</button>
    <script th:src="@{/jquery/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/public/tableModel/dateInput.js}"></script>
    <script th:src="@{/js/backend/rentapp/addRentApp.js}"></script>

</body>
</html>