.breadcrumb {
    display: flex;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    font-size: 14px;
    background-color: #fff; /* 白色背景 */
}

.breadcrumb-item {
    margin-right: 5px;
}

.breadcrumb-item a {
    color: #6c757d;
    text-decoration: none;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}

.breadcrumb-item.active {
    font-weight: bold;
    color: #000;
}

/*
.breadcrumb-item::after {
    content: ' - ';
    margin-left: 5px;
}
 */

.breadcrumb-item:last-child::after {
    content: '';
}
