.nav-item .collapse-inner {
    display: none;
}
.nav-item:hover .collapse-inner {
    display: block;
}
.nav-item:hover > .nav-link {
    background-color: #f8f9fa;
}
.collapse-inner .dropdown-menu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
}
.collapse-inner .dropright:hover .dropdown-menu {
    display: block;
}
.dropright .dropdown-toggle::after {
    display: none;
}