/* 使側邊欄在滑鼠移過時擴展 */
#accordionSidebar {
    width: 70px; /* 設置側邊欄的初始寬度 */
    transition: width 0.3s; /* 設置擴展動畫 */
}

#accordionSidebar:hover {
    width: 250px; /* 設置擴展後的寬度 */
}

/* 隱藏或顯示詳細選單 */
.collapse-inner,
.dropright .dropdown-menu {
    display: none;
    opacity: 0;
    transition: opacity 0.3s; /* 設置柔順效果 */
}

#accordionSidebar:hover .collapse-inner,
#accordionSidebar:hover .dropdown-menu {
    display: block;
    opacity: 1;
}

/* 設置子菜單的柔順展開效果 */
.dropright .dropdown-menu {
    position: absolute;
    left: 100%; /* 確保子菜單在父菜單的右邊 */
    top: 0;
    transition: opacity 0.3s, left 0.3s; /* 設置柔順效果 */
    z-index: 1000; /* 確保子菜單顯示在前面 */
}

#accordionSidebar:hover .dropright .dropdown-menu {
    left: 250px; /* 根據需要調整子菜單的位置 */
}
