<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{backend/component/plugin/backendplugin.html :: css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>租借品訂單清單</title>
    <!-- Custom styles for this page -->
    <link th:href="@{/backend/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet"/>
</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="backend/component/sidebar :: sidebar"></ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav th:replace="backend/component/nav :: nav"></nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div th:replace="backend/component/breadcrumb :: breadcrumb"></div>
                <!-- 內容請填這裡~~~~~~~~~~~~~~~ -->
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">全部租借品訂單資料:</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>訂單編號</th>
                                    <th>取貨方式</th>
                                    <th>付款方式</th>
                                    <th>訂單<div></div>總金額</th>
                                    <th>付款狀態</th>
                                    <th>訂單狀態</th>
                                    <th>歸還狀態</th>
                                    <th>歸還註記</th>
                                    <th>賠償<div></div>金額</th>
                                    <th>詳情<div></div>&修改</th>
                                    <th>出貨</th>
                                    <th>退押金</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="order : ${orderList}">
                                    <tr>

                                        <td th:text="${order.getrentalOrdNo()}"></td>
                                        <td th:text="${order.getrentalTakeMethod() == 1 ? '店取' : '宅配'}"></td>
                                        <td th:switch="${order.getrentalPayMethod()}">
                                            <span th:case="1">信用卡</span>
                                            <span th:case="2">現場</span>
                                            <span th:case="3">LinePay</span>
                                        </td>
                                        <td th:text="${order.getrentalAllPrice() + order.getrentalAllDepPrice()}"></td>
                                        <td th:text="${order.getrentalPayStat() == 1 ? '已付款' : '未付款'}"></td>
                                        <td th:switch="${order.getrentalOrdStat()}">
                                            <span th:case="'0'" style="color: red">取消</span>
                                            <span th:case="'10'" style="color: #0a53be">揀貨中</span>
                                            <span th:case="'20'" style="color : saddlebrown">配送中</span>
                                            <span th:case="'30'" style="color: coral">等待取貨</span>
                                            <span th:case="'35'" style="color: coral">租用中</span>
                                            <span th:case="'40'">訂單成立</span>
                                            <span th:case="'45'" style="color: coral">已歸還</span>
                                            <span th:case="'50'" style="color : green">完成</span>
                                            <span th:case="'81'">申請換貨</span>
                                            <span th:case="'82'">換貨中</span>
                                        </td>
                                        <td th:text="${order.getRtnStat() == 1 ? '已歸還' : '未歸還'}"></td>
                                        <td th:text="${order.getRtnRemark()}"></td>
                                        <td th:text="${order.getRtnCompensation()}"></td>
                                        <td>
                                            <form method="get" th:action="@{listAllToUpdateRentalOrder}">
                                                <input type="hidden" name="rentalOrdNo" th:value="${order.getrentalOrdNo()}">
                                                <button type="submit">
                                                    <i class="far fa-edit"></i>
                                                </button>
                                            </form>
                                        </td>
                                        <td>
                                            <form>
                                                <input type="hidden" class="memNo" th:value="${order.getMember().getMemNo()}">
                                                <input type="hidden" class="rentalOrdNo" th:value="${order.getrentalOrdNo()}">
                                                <button class="shipping" type="button" th:if="${order.getrentalOrdStat() != 20}" th:disabled="${ (order.getrentalOrdStat() != 10 and order.getrentalOrdStat() != 40) || order.getrentalTakeMethod() == 1}">出貨</button>
                                                <button class="updateBtn" th:if="${order.getrentalOrdStat() == 20}" >追蹤</button>
                                            </form>
                                        </td>
                                        <td>
                                            <form>
                                                <input type="hidden" th:value="${order.getMember().getMemNo()}">
                                                <input type="hidden" class="rentalOrdNo" th:value="${order.getrentalOrdNo()}">
                                                <button class="depRefund" type="button" th:disabled="${order.getrentalOrdStat() != 50 || order.getrentalPayMethod() == 2}">退押金</button>
                                            </form>
                                        </td>

                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- 以下燈箱 -->

                    <!-- 追蹤物流的燈箱 -->
                    <div class="modal fade" id="logisticsModal" tabindex="-1" role="dialog" aria-labelledby="logisticsModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="logisticsModalLabel">物流資訊</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- 在這裡填充物流資訊 -->
                                    <p id="logisticsInfo"></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 刷退資訊的燈箱 -->
                    <div class="modal fade" id="refundModal" tabindex="-1" role="dialog" aria-labelledby="refundModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="refundModalLabel">退押金資訊</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p id="refundInfo"></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 以上燈箱 -->
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="backend/component/bottom :: bottom"></footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="backend/component/scrolltotop :: scrolltotop"></a>
<!-- Logout Modal-->
<div th:replace="backend/component/logout :: logout"></div>

<th:block th:insert="~{backend/component/plugin/backendplugin.html :: js}"></th:block>
<!-- Page level plugins -->
<script th:src="@{/backend/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/backend/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
<!-- Page level custom scripts -->
<script th:src="@{/backend/js/demo/datatables-demo.js}"></script>

<script>

    $(function () {

        let baseUrl = window.location.protocol + "//" + window.location.host;
        let apiPath = "/backend/rentalorder/";

        let logisticsFormContainer = $("#logisticsFormContainer");

        // 出貨
        $(document).on("click", "button.shipping", function (e) {
            console.log(e.target);
            let rentalOrdNo = $(e.target).closest("form").find("input.rentalOrdNo").val();
            console.log(rentalOrdNo);

            fetch(baseUrl + apiPath + "createShippingOrder?rentalOrdNo=" + rentalOrdNo, {
                method : "POST",
                headers: {
                    "Content-Type" : "application/x-www-form-urlencoded",
                    "Accept": "text/html"// 預期返回的是HTML
                }
            }).then(function (response) {
                console.log(response);
                return response.text();
            }).then(function (data) {

                // console.log(data);
                let cleanData = data.substring(data.indexOf("|") + 1);
                let queryParams = new URLSearchParams(cleanData);

                let form = $("<form>", {
                    "action" : baseUrl + apiPath + "shipping",
                    "method" : "GET",
                    "target" : "_blank"
                }).appendTo(document.body);

                queryParams.forEach((value, key) => {

                    $("<input>", {

                        "type" : "hidden",
                        "name" : key,
                        "value" : value

                    }).appendTo(form);

                });

                form.submit();

            }); // then 結束

        }); // 送出物流訂單請求結束




        /*-------------------- 燈箱 --------------------*/
        // 追蹤物流
        $(document).on("click", "button.updateBtn", function (e) {
            e.preventDefault();
            let target = $(e.target);
            let memNo = target.closest("form").find("input.memNo").val();
            let rentalOrdNo = target.closest("form").find("input.rentalOrdNo").val();

            fetch(baseUrl + apiPath + "queryNewStat?memNo=" + memNo + "&rentalOrdNo=" + rentalOrdNo, {
                method: "GET"
            }).then(response => response.text())
                .then(logisticsStatus => {
                    let logisticsInfo = $("#logisticsInfo");
                    logisticsInfo.html(`
                          <p>物流狀態碼 : ${logisticsStatus}</p>
                      `);
                    $('#logisticsModal').modal('show'); // 修正這一行來顯示模態框
                });
        });

        // 刷退
        $(document).on("click", "button.depRefund", function (e) {
            let refundBtn = $(e.target);
            let rentalOrdNo = refundBtn.closest("form").find("input.rentalOrdNo").val();
            console.log(rentalOrdNo);

            fetch(baseUrl + apiPath + "depRefund", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(rentalOrdNo)
            }).then(response => response.json())
                .then(data => {
                    console.log(data);
                    let refundInfo = `
                        <p>商店編號(MerchantID) : ${data.MerchantID}</p>
                        <p>金流交易編號(MerchantTradeNo) : ${data.MerchantTradeNo}</p>
                        <p>交易狀態(RtnCode)(1為成功) : ${data.RtnCode}</p>
                        <p>交易訊息(RtnMsg) : ${data.RtnMsg}</p>
                        <p>綠界交易編號(TradeNo) : ${data.TradeNo}</p>
                        <p>刷退押金比例 : ${data.refundPercent} %</p>
                    `;
                    $("#refundInfo").html(refundInfo);
                    $('#refundModal').modal('show');
                }).catch(error => console.error('Error:', error));
        });


    }); // DOMContentLoaded 結束

</script>

</body>
</html>