<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{backend/component/plugin/backendplugin.html :: css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>後台租借訂單</title>
    <!-- Custom styles for this page -->
    <link th:href="@{/backend/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet" />

</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="backend/component/sidebar :: sidebar"></ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav th:replace="backend/component/nav :: nav"></nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div th:replace="backend/component/breadcrumb :: breadcrumb"></div>
                <!-- 內容請填這裡~~~~~~~~~~~~~~~ -->
                <li><a th:href="@{listAllRentalOrder}">所有</a> 租借訂單 <br> <br></li>

                <li>輸入查詢條件 : </li>
                <form method="get" th:action="@{getOnAny}">
                    <label>會員編號</label>
                    <input  id="memNo" name="memNo">
                    <br>
                    <label>訂單狀態</label>
                    <select id="rentalOrdStat" name="rentalOrdStat">
                        <option selected disabled>請選擇</option>
                        <option value="0">訂單取消</option>
                        <option value="10">揀貨中</option>
                        <option value="20">配送中</option>
                        <option value="30">等待取貨</option>
                        <option value="40">訂單成立</option>
                        <option value="50">訂單完成</option>
                        <option value="81">申請換貨</option>
                        <option value="82">換貨中</option>
                    </select>
                    <br>
                    <label>付款狀態</label>
                    <select id="rentalPayStat" name="rentalPayStat">
                        <option selected disabled>請選擇</option>
                        <option value="0">未付款</option>
                        <option value="1">已付款</option>
                    </select>
                    <br>
                    <button type="submit" >
                        送出查詢
                    </button>
                </form>


                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <tbody>
                            <div th:if="${getOnAny}">
                                <div th:insert="~{/backend/rentalorder/listOneRentalOrder :: listOneOrder}"></div>
                            </div>
                        </tbody>
                    </table>
                </div>

            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="backend/component/bottom :: bottom"></footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="backend/component/scrolltotop :: scrolltotop"></a>
<!-- Logout Modal-->
<div th:replace="backend/component/logout :: logout"></div>

<th:block th:insert="~{backend/component/plugin/backendplugin.html :: js}"></th:block>
<!-- Page level plugins -->
<script th:src="@{/backend/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/backend/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
<!-- Page level custom scripts -->
<script th:src="@{/backend/js/demo/datatables-demo.js}"></script>

<script>

    // $(function () {
    //
    //     $("#memNo").change(function () {
    //
    //         let memNo = $(this).val(); // 會員編號選項當前被選取的值
    //         let rentalOrdNos = $("select#rentalOrdNo option"); // 選取所有訂單編號
    //
    //         rentalOrdNos.each(function () {
    //             let option = $(this); // 其中一個訂單編號選項
    //             if (option.attr("data-member") === memNo) { // 如果等於會員選項
    //                 option.show();
    //             } else {
    //                 option.hide();
    //             }
    //         });
    //
    //     });
    //
    // });

</script>

</body>
</html>