<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>綠界支付測試</title>
</head>
<body>
<button class="btn" type="button">進行綠界測試</button>

<!-- 綠界物流測試 -->

<button class="logistics" type="button">綠界物流測試</button>


<div id="logisticsFormContainer" ></div>

<!-- line pay -->

<form method="post" action="/backend/rentalorder/testLinePay">
    <button type="submit">line pay測試</button>
</form>

<!-- line pay -->

<!-- 綠界物流測試 -->

<form th:action="@{/backend/rentalorder/rentalCart}" method="get">
    <button type="submit">跳轉到購物車</button>
</form>

<!-- 動態加載的表單將放在這個div中 -->
<div id="ecpayFormContainer"></div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>

    // $("button.btnToCart").on("click", function () {
    //     fetch("/backend/rentalorder/rentalCart").then()
    // })


    document.querySelector("button.btn").addEventListener("click", function () {
        fetch("/backend/rentalorder/ecpayCheckout", {
            method: "POST", // 指定是POST請求
            headers: {
                "Content-Type" : "application/x-www-form-urlencoded",
                "Accept": "text/html"// 預期返回的是HTML
            }
        })
            .then(response => response.text()) // 將回應轉為text
            .then(html => {
                // 將回傳的HTML表單放到頁面中
                let formContainer = document.getElementById("ecpayFormContainer");
                console.log(formContainer);
                formContainer.innerHTML = html;
                // 自動提交表單，如果表單自帶JavaScript自動提交則不需要這行
                formContainer.querySelector('form').submit();
            })
            .catch(error => {
                console.error('Error:', error);
            });
    })


    $(function () {

        $("button.logistics").on("click", function () {

            fetch("/backend/rentalorder/createShippingOrder", {
                method : "POST",
                headers: {
                    "Content-Type" : "application/x-www-form-urlencoded",
                    "Accept": "text/html"// 預期返回的是HTML
                }
            }).then(function (response) {
                return response.text();
            }).then(function (data) {

                // let newWindow = window.open("", "_blank");
                // newWindow.document.write(data);
                //
                // newWindow.onload = function () {
                //     newWindow.document.getElementById("postForm").submit();
                // }


                let logisticsFormContainer = $("#logisticsFormContainer");
                logisticsFormContainer.html(data);
                console.log(data);
                logisticsFormContainer.find("form").submit();

            });

        });


    });


</script>

</body>
</html>
