<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{backend/component/plugin/backendplugin.html :: css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>後台修改租租借訂單</title>
    <!-- Custom styles for this page -->
    <link th:href="@{/backend/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet" />

</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="backend/component/sidebar :: sidebar"></ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav th:replace="backend/component/nav :: nav"></nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div th:replace="backend/component/breadcrumb :: breadcrumb"></div>
                <!-- 內容請填這裡~~~~~~~~~~~~~~~ -->
                <li>租借訂單資料 : </li>
                <form method="post" th:action="@{/backend/rentalorder/update}">
                    <label>訂單編號 : </label>
                    <input type="text" name="rentalOrdNo" th:value="${rentalOrdNo}" readonly>
<!--                    <span th:name="rentalOrdNo" th:text="${rentalOrdNo}"></span>-->
                    <br>
                    <label>會員編號</label>
                    <input type="text" name="memNo" th:value="${memNo}" readonly>
                    <br>
                    <label>訂購人姓名</label>
                    <input type="text" name="rentalByrName" th:value="${rentalByrName}" readonly>
                    <br>
                    <label>訂購人手機號碼</label>
                    <input type="text" name="rentalByrPhone" th:value="${rentalByrPhone}" readonly>
                    <br>
                    <label>訂購人Email</label>
                    <input type="text" name="rentalByrEmail" th:value="${rentalByrEmail}" readonly>
                    <br>
                    <label>收件人姓名</label>
                    <input type="text" name="rentalRcvName" th:value="${rentalRcvName}" readonly>
                    <br>
                    <label>收件人手機號碼</label>
                    <input type="text" name="rentalRcvPhone" th:value="${rentalRcvPhone}" readonly>
                    <br>
                    <label>取貨方式</label>
                    <input type="text" name="rentalTakeMethod" th:value="${rentalTakeMethod == 1 ? '店取' : '宅配'}" readonly>
                    <br>
                    <label>宅配地址</label>
                    <input type="text" name="rentalAddr" th:value="${rentalAddr}" readonly>
                    <br>
                    <label>付款方式</label>
                    <input type="text" name="rentalPayMethod" th:value="${rentalPayMethod == 1 ? '綠界' : '現場付款'}" readonly>
                    <br>
                    <label>訂單總金額</label>
                    <input type="text" name="rentalAllPrice" th:value="${rentalAllPrice}" readonly>
                    <br>
                    <label>押金總金額</label>
                    <input type="text" name="rentalAllDepPrice" th:value="${rentalAllDepPrice}" readonly>
                    <br>
                    <label>下單時間</label>
                    <input type="text" name="rentalOrdTime" th:value="${rentalOrdTime}" readonly>
                    <br>
                    <label>預計租借日期</label>
                    <input type="text" name="rentalDate" th:value="${rentalDate}" readonly>
                    <br>
                    <label>預計歸還日期</label>
                    <input type="text" name="rentalBackDate" th:value="${rentalBackDate}" readonly>
                    <br>
                    <label>實際歸還日期</label>
                    <input type="text" name="rentalRealBackDate" th:value="${rentalRealBackDate}" readonly>
                    <br>
                    <label>付款狀態</label>
                    <select name="rentalPayStat">
                        <option th:value="0" th:text="未付款" th:selected="${rentalPayStat == 0}"></option>
                        <option th:value="1" th:text="已付款" th:selected="${rentalPayStat == 1}"></option>
                    </select>
                    <br>
                    <label>訂單狀態</label>
                    <select name="rentalOrdStat">
                        <option th:value="0" th:text="訂單取消" th:selected="${rentalOrdStat == 0}"></option>
                        <option th:value="10" th:text="撿貨中" th:selected="${rentalOrdStat == 10}"></option>
                        <option th:value="20" th:text="配送中" th:selected="${rentalOrdStat == 20}"></option>
                        <option th:value="30" th:text="等待取貨" th:selected="${rentalOrdStat == 30}"></option>
                        <option th:value="40" th:text="訂單成立" th:selected="${rentalOrdStat == 40}"></option>
                        <option th:value="50" th:text="訂單完成" th:selected="${rentalOrdStat == 50}"></option>
                    </select>
                    <br>
                    <label>歸還狀態</label>
                    <select name="rtnStat">
                        <option th:value="0" th:text="未歸還" th:selected="${rtnStat == 0}">
                        <option th:value="1" th:text="已歸還" th:selected="${rtnStat == 1}">
                    </select>
                    <br>
                    <label>歸還註記</label>
                    <textarea name="rtnRemark" rows="4" cols="50" th:text="${rtnRemark}" required></textarea>
                    <br>
                    <label>賠償金額</label>
                    <input type="text" name="rtnCompensation" th:value="${rtnCompensation}">
                    <br>
                    <button type="submit" >
                        修改
                    </button>
                    <span th:if="${noData}" th:text="${noData}" style="color: red"></span>
                </form>

            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="backend/component/bottom :: bottom"></footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="backend/component/scrolltotop :: scrolltotop"></a>
<!-- Logout Modal-->
<div th:replace="backend/component/logout :: logout"></div>

<th:block th:insert="~{backend/component/plugin/backendplugin.html :: js}"></th:block>
<!-- Page level plugins -->
<script th:src="@{/backend/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/backend/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
<!-- Page level custom scripts -->
<script th:src="@{/backend/js/demo/datatables-demo.js}"></script>

</body>
</html>