.floating-chat {
    cursor: pointer;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: white;
    position: fixed;
    bottom: 50px;
    right: 26px;
    width: 56px;
    height: 56px;
    -webkit-transform: translateY(70px);
    transform: translateY(70px);
    -webkit-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
    border-radius: 50%;
    opacity: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: #005a3c;
    z-index: 2;

    &.enter {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 0.6;
        border-radius: 50%;
        box-shadow: 0 2.1px 1.3px rgba(0, 0, 0, 0.044),
        0 5.9px 4.2px rgba(0, 0, 0, 0.054), 0 12.6px 9.5px rgba(0, 0, 0, 0.061),
        0 25px 20px rgba(0, 0, 0, 0.1);
    }

    &.enter:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        opacity: 1;
    }

    &.expand {
        width: 328px;
        max-height: 434px;
        height: 434px;
        border-radius: 5px;
        cursor: auto;
        opacity: 1;
    }

    &:focus {
        outline: 0;
    }

    button {
        background: transparent;
        border: 0;
        text-transform: uppercase;
        border-radius: 3px;
        cursor: pointer;
    }

    .chat {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        position: absolute;
        opacity: 0;
        width: 1px;
        height: 1px;
        border-radius: 50%;
        -webkit-transition: all 250ms ease-out;
        transition: all 250ms ease-out;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        border-top: 1px solid #e3e6eb;
        border-right: 1px solid #e3e6eb;
        overflow-y: auto;

        &.enter {
            opacity: 1;
            border-radius: 0;
            width: auto;
            height: auto;
        }

        .header {
            flex-shrink: 0;
            display: -webkit-box;
            display: flex;
            align-items: center;
            background-color: #fff;
            border-radius: 20px 20px 0 0;
            padding: 15px;
            border-bottom: 1px solid #e3e6eb;

            i {
                font-size: 16px;
                color: #222;
            }

            button {
                flex-shrink: 0;
            }
        }

        .title {
            -webkit-box-flex: 1;
            flex-grow: 1;
            flex-shrink: 1;
            padding: 0 5px;
            color: #000;
            font-size: 12px;
        }

        .messages {
            padding: 10px;
            margin: 0;
            list-style: none;
            overflow-y: scroll;
            overflow-x: hidden;
            -webkit-box-flex: 1;
            flex-grow: 1;
            background: #f7f9fb;

            &::-webkit-scrollbar {
                width: 5px;
                color: #222;
            }

            &::-webkit-scrollbar-track {
                border-radius: 5px;
                background-color: rgba(25, 147, 147, 0.1);
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 5px;
                background-color: rgba(25, 147, 147, 0.2);
            }

            li {
                position: relative;
                clear: both;
                display: inline-block;
                padding: 14px;
                margin: 0 0 20px 0;
                border-radius: 10px;
                background-color: #e3e6eb;
                word-wrap: break-word;
                max-width: 81%;

                &:after {
                    position: absolute;
                    top: 10px;
                    content: "";
                    width: 0;
                    height: 0;
                    border-top: 10px solid rgb(227, 230, 235);
                }

                &.other {
                    animation: show-chat-odd 0.15s 1 ease-in;
                    -moz-animation: show-chat-odd 0.15s 1 ease-in;
                    -webkit-animation: show-chat-odd 0.15s 1 ease-in;
                    float: right;
                    margin-right: 45px;
                    color: #000;

                    span {
                        position: absolute;
                        right: -45px;
                        width: 25px;
                        height: 25px;
                        border-radius: 25px;
                        background: #fff;
                        text-align: center;
                        line-height: 25px;
                    }

                    &:after {
                        border-right: 10px solid transparent;
                        right: -10px;
                    }
                }

                &.self {
                    animation: show-chat-even 0.15s 1 ease-in;
                    -moz-animation: show-chat-even 0.15s 1 ease-in;
                    -webkit-animation: show-chat-even 0.15s 1 ease-in;
                    float: left;
                    margin-left: 45px;
                    color: #000;

                    span {
                        position: absolute;
                        left: -45px;
                        width: 25px;
                        height: 25px;
                        border-radius: 25px;
                        background: #fff;
                        text-align: center;
                        line-height: 25px;
                    }

                    &:after {
                        border-left: 10px solid transparent;
                        left: -10px;
                    }

                    @keyframes show-chat-even {
                        0% {
                            margin-left: -480px;
                        }

                        100% {
                            margin-left: 0;
                        }
                    }

                    @-webkit-keyframes show-chat-even {
                        0% {
                            margin-left: -480px;
                        }

                        100% {
                            margin-left: 0;
                        }
                    }

                    @keyframes show-chat-odd {
                        0% {
                            margin-right: -480px;
                        }

                        100% {
                            margin-right: 0;
                        }
                    }

                    @-webkit-keyframes show-chat-odd {
                        0% {
                            margin-right: -480px;
                        }

                        100% {
                            margin-right: 0;
                        }
                    }
                }
            }
        }

        .chat_list {
            flex-shrink: 0;
            display: -webkit-box;
            display: flex;
            align-items: center;
            background-color: #fff;
            border-radius: 20px 20px 0 0;
            padding: 15px;
            border-bottom: 1px solid #e3e6eb;

            .title {
                -webkit-box-flex: 1;
                flex-grow: 1;
                flex-shrink: 1;
                padding: 0 5px;
                color: #000;
                font-size: 12px;
            }
            i {
                font-size: 16px;
                color: #222;
            }

            button {
                flex-shrink: 0;
            }
        }

        .footer {
            flex-shrink: 0;
            display: -webkit-box;
            display: flex;
            padding: 10px;
            max-height: 90px;
            background: #fff;

            .text-box {
                border-radius: 3px;
                min-height: 100%;
                width: 100%;
                margin-right: 5px;
                color: #000;
                overflow-y: auto;
                padding: 2px 5px;

                &::-webkit-scrollbar {
                    width: 5px;
                }

                &::-webkit-scrollbar-track {
                    border-radius: 5px;
                    background-color: rgba(25, 147, 147, 0.1);
                }

                &::-webkit-scrollbar-thumb {
                    border-radius: 5px;
                    background-color: rgba(25, 147, 147, 0.2);
                }
            }

            [contentEditable="true"]:empty:not(:focus):before {
                content: attr(data-text);
            }

            #sendMessage {
                background-color: #fff;
                margin-left: auto;
                width: 65px;
                color: #000;
                font-weight: bold;
                border-left: 2px solid #f7f9fb;
                border-radius: 0 0 20px 0;
            }
        }
    }

    .contact {
        display: flex;
        position: absolute;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        width: 1px;
        height: 1px;
        background: #fff;
        left: -45px;
        border-right: 1px solid #e3e6eb;
        overflow-y: scroll;
        overflow-x: hidden;
        opacity: 0;
        border-radius: 5px 0px 0px 5px;
        box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1),
        inset 1px 1px 0 rgba(255, 255, 255, 0.5);

        &.expand {
            width: 45px !important;
            height: 434px !important;
            opacity: 1 !important;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                color: #000;
                min-height: 37px;
                background: #f5f5f5;
                margin: 15px 3px 3px 3px;
                cursor: pointer;
                text-align: center;
                line-height: 35px;
                border-radius: 20px;
                position: relative;
            }
        }

        .unread {
            color: #d91b42;
            position: absolute;
            right: 0;
            font-size: 10px;
            top: -10px;
        }
    }
}