body.chatbody  {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f7f9fb;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;

}

.chat-container {
    display: flex;
    /*width: 100%;*/

    max-width: 700px;
    width: 100%;
    height: 80vh;

    /*max-width: 700px;*/
    /*min-width: 700px;*/
    /*min-height: 500px;*/
    /*max-height: 500px;*/
    margin: 20px;
    border: 1px solid #ccc;
    background-color: #f7f9fb;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.chat-box-header {
    display: flex;
    align-items: center;
    /*align-self: flex-start;*/
    flex-direction: column;
    width: 100%;
    height:50px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    text-align:left;
    font-size:20px;
    margin-bottom: 10px;
    line-height:50px;
    font-weight: 600;
    /*color:#152C5B;*/
    color:#b82e38;
    background-color: #FFFFFF;
    border-bottom-color: #0a3622;
    /*color:#fff;*/
    /*background-color: #e63946;*/
}

.users-list {
    flex: 1;
    border-right: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    background-color: #3498db;
    color: #fff;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.users-list-container {
    height: 100%;
    overflow-y: scroll;
}

.users-list h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.users-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
}

.user-item.active {
    background-color: #cdebff;
    color: #4f4f4f;
    padding: 10px;
    border-radius: 5px;
}

.user-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-item span {
    font-weight: bold;
}

.separator {
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}

.chat-area {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /*padding: 10px;*/
    box-sizing: border-box;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100%;
}

.message {
    margin-bottom: 5px;
    border-radius: 5px;
}

#chat-messages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: rgba(230,57,70, 0.1);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: rgba(230,57,70, 0.2);
    }
}

/*!*scrollBar color*!*/

/*!*捲軸底色*!*/
/*  #style-3::-webkit-scrollbar-track {*/
/*      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
/*      background-color: #ffc0cb;*/
/*  }*/
/*!*捲軸寬度*!*/
/*  #style-3::-webkit-scrollbar {*/
/*      width: 6px;*/
/*      background-color: black;*/
/*  }*/
/*!*捲軸本體顏色*!*/
/*  #style-3::-webkit-scrollbar-thumb {*/
/*      background-color: #bb6573;*/
/*  }*/

.message p {
    margin: 0;
    padding: 4px 8px;
    border-radius: 55px;
    word-wrap: break-word;
}

.user-item span.nbr-msg {
    margin-left: 10px;
    background-color: #f8fa6f;
    color: white;
    padding: 5px;
    width: 10px;
    border-radius: 50%;
    height: 10px;
}

/*.sender {*/
/*    background-color: #3498db;*/
/*    color: #fff;*/
/*    align-self: flex-end;*/
/*    &:after {*/
/*        border-right: 10px solid transparent;*/
/*        right: -10px;*/
/*    }*/
/*}*/

.sender{

    background-color: #e3e6eb;
    color: #000000;
    align-self: flex-end;
}

.sender::after{
    position: absolute;
    top: 10px;
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid rgb(227, 230, 235);
    border-right: 10px solid transparent;
    right: -10px;
}

.receiver {
    background-color: #e3e6eb;
    color: #000000;
    align-self: flex-start;
}

.senderTime{
    color: gray;
    align-self: flex-end;
}

.receiverTime{
    color: gray;
    align-self: flex-start;
}

.message-input {
    margin-top: auto;
    display: flex;
}

.message-input input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.message-input button {
    padding: 6px 16px;
    border: none;
    background-color: #e63946;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.user-form {
    max-width: 400px;
    padding: 40px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.user-form h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.user-form label {
    display: block;
    margin-bottom: 8px;
}

.user-form input {
    width: 100%;
    padding: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.user-form button {
    padding: 12px;
    border: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.hidden {
    display: none;
}

a.logout {
    color: #fff;
    text-decoration: none;
}

.chatunlogin {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}