<div th:fragment="rental-grid">
    <div class="row g-3" >
        <th:block th:each="rental : ${rentalListData}"><!-- 商品開始 -->
            <div class="col-sm-6 col-lg-4 rental">
                <span class="rentalNo" th:text="${rental.getRentalNo()}" style="display: none"></span>
                <div class="product-card-1 rentalShopGrid">
                    <div class="product-card-image">
                        <div class="badge-ribbon"><span class="badge bg-danger">Sale</span></div>
                        <!--  操作 (開始)  -->
                        <div class="product-action">
                            <a href="" class="btn btn-primary btn_addToFAV"><!--  加入我的最愛  -->
                                <i class="fi-heart"></i>
                            </a>
                            <a href="#" class="btn btn-primary btn_addTrack"><!--  加入追蹤  -->
                                <i class="bi bi-bookmark"></i>
                            </a>
                            <!--                                                <span class="successMsg" style="color: lightgreen"></span>-->
                        </div>
                        <!--  操作 (結束)  -->
                        <div class="product-media">
                            <a th:href="@{'/frontend/rental/showOneRental?rentalNo=' + ${rental.rentalNo}}">
                                <img class="img-fluid rentalPicSmallGrid"
                                     th:src="@{'/icons/frontend/rental/rentalshop/' + ${rental.rentalNo} + '.jpg'}"
                                     title="" alt="">
                            </a>
                            <div class="product-cart-btn">
                                <a href="" class="btn btn-primary btn-sm w-100 btn_addToCart">
                                    <i class="fi-shopping-cart"></i>加入購物車</a>
                                <!--                                                    <span class="successMsg" style="color: lightgreen"></span>-->
                            </div>
                        </div>
                    </div>
                    <div class="product-card-info">
                        <h6 class="product-title">
                            <a th:href="@{'/frontend/rental/showOneRental?rentalNo=' + ${rental.rentalNo}}">
                                <span th:text="${rental.rentalName}"></span></a><br>
                            <div class="rating-star text">
                                <i class="bi bi-star-fill active"></i>
                                <i class="bi bi-star-fill active"></i>
                                <i class="bi bi-star-fill active"></i>
                                <i class="bi bi-star-fill active"></i>
                                <i class="bi bi-star"></i>
                            </div>
                        </h6>
                        <h6 class="product-price">
                            <span class="text-primary fs-4" th:text="'$' + ${rental.rentalPrice}"></span>
                            <div class="successMsg" style="color: lightgreen"></div>
                        </h6>
                    </div>
                </div>
            </div>
        </th:block><!-- 商品結束 -->
    </div>
</div>