<!-- Size Chart (單一商品頁面的尺寸表)  -->
<div th:fragment="sizechart" class="modal-size-chart modal fade" id="px_size_chart_modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Size Chart</h4>
        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table mb-0">
          <thead>
          <tr class="text-mode">
            <th class="border-0 bg-body">US Sizes</th>
            <th class="border-0 bg-body">Euro Sizes</th>
            <th class="border-0 bg-body">UK Sizes</th>
            <th class="border-0 bg-body">Inches</th>
            <th class="border-0 bg-body">CM</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="">6</td>
            <td>39</td>
            <td>5.5</td>
            <td>9.25"</td>
            <td>23.5</td>
          </tr>
          <tr>
            <td class="">6.5</td>
            <td>39</td>
            <td>6</td>
            <td>9.5"</td>
            <td>24.1</td>
          </tr>
          <tr>
            <td class="">7</td>
            <td>40</td>
            <td>6.5</td>
            <td>9.625"</td>
            <td>24.4</td>
          </tr>
          <tr>
            <td class="">7.5</td>
            <td>40-41</td>
            <td>7</td>
            <td>9.75"</td>
            <td>24.8</td>
          </tr>
          <tr>
            <td class="">8</td>
            <td>41</td>
            <td>7.5</td>
            <td>9.9375"</td>
            <td>25.4</td>
          </tr>
          <tr>
            <td class="">8.5</td>
            <td>41-42</td>
            <td>8</td>
            <td>10.125"</td>
            <td>25.7</td>
          </tr>
          <tr>
            <td class="">9</td>
            <td>42</td>
            <td>8.5</td>
            <td>10.25"</td>
            <td>26</td>
          </tr>
          <tr>
            <td class="">9.5</td>
            <td>42-43</td>
            <td>9</td>
            <td>10.4375"</td>
            <td>26.7</td>
          </tr>
          <tr>
            <td class="">10</td>
            <td>43</td>
            <td>9.5</td>
            <td>10.5625"</td>
            <td>27</td>
          </tr>
          <tr>
            <td class="">10.5</td>
            <td>43-44</td>
            <td>10</td>
            <td>10.75"</td>
            <td>27.3</td>
          </tr>
          <tr>
            <td class="">11</td>
            <td>44</td>
            <td>10.5</td>
            <td>10.9375"</td>
            <td>27.9</td>
          </tr>
          <tr>
            <td class="">11.5</td>
            <td>44-45</td>
            <td>11</td>
            <td>11.125"</td>
            <td>28.3</td>
          </tr>
          <tr>
            <td class="">12</td>
            <td>45</td>
            <td>11.5</td>
            <td>11.25"</td>
            <td>28.6</td>
          </tr>
          <tr>
            <td class="">13</td>
            <td>46</td>
            <td>12.5</td>
            <td>11.5625"</td>
            <td>29.4</td>
          </tr>
          <tr>
            <td class="">14</td>
            <td>47</td>
            <td>13.5</td>
            <td>11.875"</td>
            <td>30.2</td>
          </tr>
          <tr>
            <td class="">15</td>
            <td>48</td>
            <td>14.5</td>
            <td>12.1875"</td>
            <td>31</td>
          </tr>
          <tr>
            <td class="">16</td>
            <td>49</td>
            <td>15.5</td>
            <td>12.5"</td>
            <td>31.8</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- End Size Chart  -->