<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addCoupon.html</title>
    <th:block th:include="~{backend/component/plugin/backendplugin.html :: css}"></th:block>
    <style>
        .form-label {
            margin-top: 8px;
            margin-bottom: 0;
        }

        .btn-outline-primary {
            margin-top: 10px;
        }
    </style>
</head>

<body id="page-top">
<div th:replace="backend/component/loading :: loading"></div>
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="backend/component/sidebar :: sidebar"></ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav th:replace="backend/component/nav :: nav"></nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div th:replace="backend/component/breadcrumb :: breadcrumb"></div>
                <!-- 內容請填這裡~~~~~~~~~~~~~~~ -->
                <h4 class="display-6 font-weight-bold text-primary">新增優惠券資料</h4>
                <h6><b>所有欄位皆為必填欄位</b></h6>
                <div class="row">
                    <form th:action="@{insert}" method="post" th:object="${coupon}" enctype="application/json">
                        <div class="col justify-content-start align-items-start g-1">
                            <label class="form-label">建立日期</label>
                            <span id="datetime"/>
                            <input type="hidden" name="coupAddDate"/>
                        </div>

                        <div class="col justify-content-start align-items-start g-1">
                            <label class="form-label">優惠券名稱</label>
                            <input class="form-control" type="text" th:field="*{coupName}"
                                   onclick="hideContent('coupName.errors');"/>
                            <span th:if="${#fields.hasErrors('coupName')}" th:errors="*{coupName}" class="error"
                                  id="coupName.errors"></span>
                        </div>

                        <div class="col justify-content-start align-items-start g-1">
                            <label class="form-label">發放條件</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="coupCond" th:value="所有會員"
                                       th:field="*{coupCond}" id="r1">
                                <label class="form-check-label" for="r1">所有會員</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="coupCond" th:value="當月壽星"
                                       th:field="*{coupCond}" id="r2">
                                <label class="form-check-label" for="r2">當月壽星</label>
                            </div>
                        </div>

                        <div class="col justify-content-start align-items-start g-1">
                            <label class="form-label" for="info">優惠資訊</label>
                            <textarea class="form-control" id="info" th:field="*{coupInfo}"
                                      onclick="hideContent('coupInfo.errors');" style="height: 150px"></textarea>
                            <span th:if="${#fields.hasErrors('coupInfo')}" th:errors="*{coupInfo}" class="error"
                                  id="coupInfo.errors"></span>
                        </div>

                        <div class="col justify-content-start align-items-start g-1">
                            <label class="form-label">折扣數</label>
                            <input class="form-control" id="disc" type="text" th:field="*{coupDisc}"
                                   onclick="hideContent('coupDisc.errors');"/>
                            <span th:if="${#fields.hasErrors('coupDisc')}" th:errors="*{coupDisc}" class="error"
                                  id="coupDisc.errors"></span>
                        </div>

                        <div class="col justify-content-start align-items-start g-1">
                            <label class="form-label">發放日期</label>
                            <input class="form-control" type="datetime-local" th:field="*{coupRelDate}"
                                   onclick="hideContent('coupRelDate.errors');"/>
                            <span class="error" th:text="${errorMessage2}" th:if="${errorMessage2}"
                                  id="coupRelDate.errorMessage2">${errorMessage}</span>
                        </div>

                        <div class="col justify-content-start align-items-start g-1">
                            <label class="form-label">失效日期</label>
                            <input class="form-control" type="datetime-local" th:field="*{coupExpDate}"
                                   onclick="hideContent('coupExpDate.errors');" id="coupExpDate"/>
                            <span class="error" th:text="${errorMessage1}"
                                  id="coupExpDate.errorMessage1">${errorMessage}</span>
                        </div>

                        <div>
                            <input type="hidden" name=coupRelStat value="0">
                        </div>

                        <div class="col-12 g-1">
                            <button class="btn btn-outline-primary" type="submit" id="submit"> 送出新增</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <!-- /.container-fluid -->
        <!-- Footer -->
        <footer th:replace="backend/component/bottom :: bottom"></footer>
    </div>
</div>
<!-- Scroll to Top Button-->
<a th:replace="backend/component/scrolltotop :: scrolltotop"></a>
<!-- Logout Modal-->
<div th:replace="backend/component/logout :: logout"></div>

<th:block th:insert="~{backend/component/plugin/backendplugin.html :: js}"></th:block>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var now = new Date();
        var dateTime = now.toLocaleString();
        document.getElementById("datetime").innerHTML = dateTime;

        //清除提示信息
        function hideContent(d) {
            document.getElementById(d).style.display = "none";
        }

        // function isLeapYear(year) {
        //     return (year % 4 === 0 && year % 100 !== 0) || (year % 400 === 0);
        // }
        //
        // function getDaysOfMonth(year, month) {
        //     switch (month) {
        //         case 1:  // January
        //         case 3:  // March
        //         case 5:  // May
        //         case 7:  // July
        //         case 8:  // August
        //         case 10: // October
        //         case 12: // December
        //             return 31;
        //         case 4:  // April
        //         case 6:  // June
        //         case 9:  // September
        //         case 11: // November
        //             return 30;
        //         case 2:  // February
        //             return isLeapYear(year) ? 29 : 28;
        //         default:
        //             throw new Error("Invalid month");
        //     }
        // }
        //

        // 取得當前年份和月份
        const currentYear = now.getFullYear();
        const currentMonth = now.getMonth();

        // 取得下個月的第一天
        const firstDayNextMonth = new Date(currentYear, currentMonth + 1, 1);
        const lastDayNextMonth = new Date(currentYear, currentMonth + 2, 0);
        lastDayNextMonth.setHours(23, 59, 0, 0);
        console.log(firstDayNextMonth);
        console.log(lastDayNextMonth);

        // 將日期轉換為當地時間的 ISO 字符串
        const firstDayNextMonthISO = new Date(firstDayNextMonth.getTime() - (firstDayNextMonth.getTimezoneOffset() * 60000)).toISOString().split('.')[0];
        const lastDayNextMonthISO = new Date(lastDayNextMonth.getTime() - (lastDayNextMonth.getTimezoneOffset() * 60000)).toISOString().split('.')[0];


        document.querySelectorAll(".form-check-input").forEach(function (radio) {
            radio.addEventListener("change", function () {
                if (radio.value === "當月壽星") {
                    document.getElementById("info").value = "fall衣love祝您生日快樂！獻上這張生日禮券，期待與您在特殊日子共同創造更多難忘時刻。";
                    document.getElementById("disc").value = 0.85;

                    // Set the release date and expiry date
                    document.getElementById("coupRelDate").value = firstDayNextMonthISO;
                    console.log(firstDayNextMonthISO);
                    document.getElementById("coupExpDate").value = lastDayNextMonthISO;
                    console.log(lastDayNextMonthISO)

                } else if (radio.value === "所有會員") {
                    document.getElementById("info").value = "fall衣love與您一同慶祝OO節，獻上九折優惠券，快來逛逛吧！";
                    document.getElementById("disc").value = 0.9;
                    document.getElementById("coupRelDate").value = firstDayNextMonthISO;
                    document.getElementById("coupExpDate").value = lastDayNextMonthISO;
                }
            });
        });
    });
</script>

</body>
</html>