<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listAllCoupon.html</title>
    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/logo/favicon.ico}">
    <th:block th:include="~{backend/component/plugin/backendplugin.html :: css}"></th:block>
    <!-- Custom styles for this page -->
    <link th:href="@{/backend/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet"/>

</head>
<body id="page-top">
<div th:replace="backend/component/loading :: loading"></div>
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="backend/component/sidebar :: sidebar"></ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav th:replace="backend/component/nav :: nav"></nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div th:replace="backend/component/breadcrumb :: breadcrumb"></div>
                <!-- 內容請填這裡~~~~~~~~~~~~~~~ -->
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">所有優惠券資料:</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>優惠券編號</th>
                                    <th>優惠券名稱</th>
                                    <th>發放條件</th>
                                    <th>優惠資訊</th>
                                    <th>折扣</th>
                                    <th>建立日期</th>
                                    <th>失效日期</th>
                                    <th>發放日期</th>
                                    <th>發放狀態</th>
                                    <th>修改</th>
                                    <th>刪除</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="coupon : ${couponListData}">
                                    <tr>
                                        <td th:text="${coupon.coupNo}"></td>
                                        <td th:text="${coupon.coupName}"></td>
                                        <td th:text="${coupon.coupCond}"></td>
                                        <td th:text="${coupon.coupInfo}"></td>
                                        <td th:text="${coupon.coupDisc}"></td>
                                        <td th:text="${coupon.coupAddDate}"></td>
                                        <td th:text="${coupon.coupExpDate}"></td>
                                        <td th:text="${coupon.coupRelDate}"></td>
                                        <td>
                                            <span th:if="${coupon.coupRelStat == 0}" th:text="未發放"></span>
                                            <span th:if="${coupon.coupRelStat == 1}" th:text="已發放"></span>
                                        </td>
                                        <td>
                                            <form method="post" th:action="@{/backend/coupon/updateCoupon}">
                                                <button th:onclick="'editCoupon(' + ${coupon.coupNo} + ')' " name="coupNo"
                                                        th:value="${coupon.coupNo}">
                                                    <i class="far fa-edit"></i>
                                                </button>
                                            </form>
                                        </td>
                                        <td>
                                            <form method="post" th:action="@{/backend/coupon/delete}" id="deleteForm">
                                                <button th:onclick="'editCoupon(' + ${coupon.coupNo} + ')' " name="coupNo"
                                                        th:value="${coupon.coupNo}" id="btn_delete">
                                                    <i class="far fa-edit"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="backend/component/bottom :: bottom"></footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="backend/component/scrolltotop :: scrolltotop"></a>
<!-- Logout Modal-->
<div th:replace="backend/component/logout :: logout"></div>

<th:block th:insert="~{backend/component/plugin/backendplugin.html :: js}"></th:block>
<!-- Page level plugins -->
<script th:src="@{/backend/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/backend/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
<!-- Page level custom scripts -->
<script th:src="@{/backend/js/demo/datatables-demo.js}"></script>
    <script>
        let table = new DataTable("#example");
        $("#btn_delete").click(function () {
            console.log(this);
            let answer = confirm("是否確定刪除?");
            if (answer) {
                $("#deleteForm").submit();
            } else {
            }
        });
    </script>
</body>
</html>