<!-- Header -->
<header th:fragment="header" class="header-main bg-mode-re header-light fixed-top header-height header-option-1"
        style="top: 0px;">
    <!-- Header Top -->
    <div class="header-top small bg-black small">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center"><!-- Left -->
                <div class="d-flex align-items-center justify-content-center d-none d-lg-block">
                    <ul class="nav white-link">
                        <li class="nav-item me-3 text-white text-opacity-85"><span><i class="bi bi-clock me-2"></i>
                                Visit time: Mon-Sat 9:00-19:00</span></li>
                        <li class="nav-item"><a href="#" class="navbar-link"><i class="bi bi-headset me-2"></i>
                            Call us now: +886 425 1108</a></li>
                    </ul>
                </div>
                <!-- Right -->
                <div class="d-flex align-items-center justify-content-center w-100 w-lg-auto"><!-- Language -->
                    <div class="dropdown ms-0 ms-lg-3">
                    </div>
                    <!-- Top link -->
                    <ul class="nav ms-auto ms-lg-3">
                        <li class="nav-item"><a href="#" class="nav-link text-white" data-bs-toggle="modal"
                                                data-bs-target="#topbarlogin"><i class="fi-user me-2"></i>Login</a></li>
<!--                        <li class="nav-item"><a th:href="@{frontend/member/loginpopup.html}" class="nav-link text-white" data-bs-toggle="modal"-->
<!--                                                data-bs-target="#topbarlogin"><i class="fi-user me-2"></i>Login</a></li>-->
                    </ul><!-- Top social -->
                    <div class="nav header-social justify-content-end d-none d-lg-block white-link"><a
                            class="h-social-link" href="#"><i class="bi bi-facebook"></i></a> <a class="h-social-link"
                                                                                                 href="#"><i
                            class="bi bi-twitter"></i></a> <a class="h-social-link" href="#"><i
                            class="bi bi-linkedin"></i></a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container"><!-- Logo --> <a class="navbar-brand" href="../index.html"><img class="logo-dark"
                                                                                               th:src="@{/frontend/assets/img/logo.svg}"
                                                                                               title="" alt=""> <img
                class="logo-light"
                th:src="@{/frontend/assets/img/logo-light.svg}" title="" alt=""> </a><!-- Logo --><!-- Menu -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="dropdown nav-item"><a href="#" class="nav-link">關於我們</a> <label
                            class="px-dropdown-toggle mob-menu"></label>
                        <ul class="dropdown-menu left shadow-lg">
                            <li><a class="dropdown-item" href="../pages/faq.html">常見問題</a></li>
                            <li><a class="dropdown-item" href="../pages/policy.html">隱私政策</a></li>
                            <li><a class="dropdown-item" href="../pages/support.html">聯繫客服</a></li>
                            <li><a class="dropdown-item" href="../pages/contact-us.html">聯繫我們</a></li>
                        </ul>
                    </li>
                    <li class="dropdown nav-item"><a href="#" class="nav-link">一般商品</a> <label
                            class="px-dropdown-toggle mob-menu"></label>
                        <ul class="dropdown-menu left shadow-lg">
                            <li><a class="dropdown-item" href="../shop-01/shop.html">瀏覽商品</a></li>
                            <li><a class="dropdown-item" href="../pages/policy.html">商品頁面</a></li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-full nav-item"><a th:href="@{rentalShop}" class="nav-link">租借品</a>
                        <label class="px-dropdown-toggle mob-menu"></label>
                        <div class="dropdown-menu dropdown-mega-menu py-0">
                            <div class="container p-3 p-lg-4">
                                <div class="row gy-4">
                                    <div class="col-6 col-md-3 col-xl-2">
                                        <h6 class="sm-title-02 mb-3 fw-500">男士</h6>
                                        <ul class="list-unstyled link-list-style-02 mb-4">
                                            <li><a th:href="@{rentalShop}">成套西裝</a></li>
                                            <li><a th:href="@{rentalShop}">西裝外套</a></li>
                                            <li><a th:href="@{rentalShop}">西裝褲</a></li>
                                            <li><a th:href="@{rentalShop}">飾品</a></li>
                                        </ul>
                                        <h6 class="sm-title-02 mb-3 fw-500">女士</h6>
                                        <ul class="list-unstyled link-list-style-02 m-0">
                                            <li><a th:href="@{rentalShop}">婚紗</a></li>
                                            <li><a th:href="@{rentalShop}">禮服</a></li>
                                            <li><a th:href="@{rentalShop}">飾品</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown nav-item"><a href="#" class="nav-link">專欄文章</a> <label
                            class="px-dropdown-toggle mob-menu"></label>
                        <ul class="dropdown-menu left shadow-lg">
                            <li><a class="dropdown-item" href="../blog/blog.html">Blog</a></li>
                            <li><a class="dropdown-item" href="../blog/blog-single.html">Blog Single</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        <!-- End Menu -->
        <div class="nav flex-nowrap align-items-center header-right"><!-- Nav Search-->
            <div class="nav-item"><a class="nav-link collapsed" data-bs-toggle="collapse" href="javascript:void(0)"
                                     data-bs-target="#search-open" aria-expanded="false"><i class="fi-search"></i></a>
            </div>
            <!-- Acount -->
            <div class="nav-item dropdown"><a class="nav-link" href="#" role="button" id="dropdown_myaccount"
                                              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                    class="fi-user"></i></a>
                <div class="dropdown-menu dropdown-menu-end mt-2 shadow" aria-labelledby="dropdown_myaccount">
                    <a class="dropdown-item" th:href="@{/frontend/member/loginMember}">Login</a>
                    <a class="dropdown-item" href="#">Register</a>
                    <a class="dropdown-item" th:href="@{/backend/rentalorder/rentalCart}">追蹤清單</a>
                    <a class="dropdown-item" href="#">My account</a>
                </div>
            </div><!-- Wishlist -->
            <div class="nav-item d-none d-xl-block"><a class="nav-link" href="#"><i class="fi-heart"></i></a></div>
            <!-- Cart -->
            <div class="nav-item">
                <a class="nav-link" data-bs-toggle="offcanvas" href="#modalMiniCart" role="button"
                                     aria-controls="modalMiniCart">
                    <span class="" data-cart-items="">
                        <i class="fi-shopping-cart"></i>
                    </span>
                </a>
            </div><!-- Mobile Toggle -->
            <button
                    class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                    class="px-navbar-toggler-icon"></span></button><!-- End Mobile Toggle -->
        </div>
        </div>
    </nav>
</header>
<!-- End Header -->