<!-- Login Popup  -->
<div th:fragment="loginpopup" class="modal fade" id="topbarlogin">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <div class="modal-title p-3">
                    <h5 class="m-0 text-white">Sign in to your account!</h5>
                    <p class="m-0 text-white">Nice to see you! Please log in with your account or email.</p>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="w-100 p-3"><!-- Form START -->
                    <form method="post" th:action="@{/frontend/member/loginPageByPopup}" id="loginForm">
                        <div style="text-align: center;">
                            <span id="errorMessage" style="color: red;"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="exampleInputEmail1">Account / Email</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="請輸入帳號或信箱" name="identifier">
                        </div>
                        <div class="mb-3">
                            <div class="row align-items-center">
                                <label class="form-label col" for="exampleInputPassword1">
                                    Password
                                    <span class="text-danger">*</span>
                                </label>
                                <span class="col ms-auto small text-end">
                                                    <a th:href="@{/frontend/member/forgetPassword}">Forgot password?</a></span></div>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="*********" name="password">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" name="autoLoginMember" class="form-check-input" id="exampleCheck1" value="1">
                            <label class="form-check-label" for="exampleCheck1">keep me signed in</label>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-4">
                                <button  id="click" type="submit" class="btn btn-dark">Login</button>
                            </div>
                            <div class="col-sm-8 text-sm-end">
                                <span class="text-muted">Don't have an account?
                                    <a th:href="@{/frontend/member/addMemberData}">Signup here</a>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

