<!-- Privacy Policy -->
<section th:fragment="privacypolicy" class="py-5 border-top">
    <div class="container">
        <div class="row g-3">
            <div class="col-6 col-md-4 col-lg-3">
                <div class="d-flex">
                    <div class="fs-1 lh-1 text-primary"><i class="bi-truck"></i></div>
                    <div class="col ps-3">
                        <h6 class="mb-1">Free shipping</h6>
                        <p class="m-0">Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="d-flex">
                    <div class="fs-1 lh-1 text-primary"><i class="bi-headphones"></i></div>
                    <div class="col ps-3">
                        <h6 class="mb-1">Contact us 24/7</h6>
                        <p class="m-0">Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="d-flex">
                    <div class="fs-1 lh-1 text-primary"><i class="bi-box-arrow-in-left"></i></div>
                    <div class="col ps-3">
                        <h6 class="mb-1">30 Days Return</h6>
                        <p class="m-0">Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="d-flex">
                    <div class="fs-1 lh-1 text-primary"><i class="bi-shield-lock"></i></div>
                    <div class="col ps-3">
                        <h6 class="mb-1">100% Secure Payment</h6>
                        <p class="m-0">Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Privacy Policy -->