<!-- Size Chart  -->
<div th:fragment="rentalSize" class="modal-size-chart modal fade" id="px_size_chart_modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Size Chart</h4>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- 顯示尺寸區   -->
            <div class="modal-body">
                <div style="text-align: center;">
                    <img class="border" th:src="@{'/icons/frontend/rental/menSize.jpg'}" width="700" height="auto" title="" alt="">
                </div>
                <br>
                <div style="text-align: center;">
                    <img class="border" th:src="@{'/icons/frontend/rental/womenSize.jpg'}" width="600" height="auto" title="" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Size Chart  -->