<!-- Header Side Search -->
<div th:fragment="sidesearch" class="offcanvas offcanvas-end" tabindex="-1" id="header_search_popup" aria-labelledby="header_search_popupLabel">
    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="header_search_popupLabel">Search</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form class="position-relative w-100">
            <div class="input-group"><!-- Search input -->
                <input class="form-control shadow-none" type="text" name="search" placeholder="What are you looking for?">
                <!-- Search button -->
                <button type="button" class="btn btn-primary shadow-none">
                    <i class="fi-search"></i>
                </button>
            </div>
        </form>
        <div class="pt-3">
            <div class="nav tag-cloud">
                <a class="rounded-pill px-3 small font-w-500 py-1 bg-gray-200 me-1 mb-1 text-mode" href="#">Design</a>
                <a class="rounded-pill px-3 small font-w-500 py-1 bg-gray-200 me-1 mb-1 text-mode" href="#">Development</a>
                <a class="rounded-pill px-3 small font-w-500 py-1 bg-gray-200 me-1 mb-1 text-mode" href="#">Travel</a>
                <a class="rounded-pill px-3 small font-w-500 py-1 bg-gray-200 me-1 mb-1 text-mode" href="#">Web Design</a>
                <a class="rounded-pill px-3 small font-w-500 py-1 bg-gray-200 me-1 mb-1 text-mode" href="#">Marketing</a>
                <a class="rounded-pill px-3 small font-w-500 py-1 bg-gray-200 me-1 mb-1 text-mode" href="#">Research</a>
                <a class="rounded-pill px-3 small font-w-500 py-1 bg-gray-200 me-1 mb-1 text-mode" href="#">Managment</a>
            </div>
        </div>
    </div>
</div>
<!-- End Header Side Search -->