<!-- Skippy & Prload -->
<th:block th:fragment="skippypreload">
<!-- skippy -->
<a id="skippy" class="skippy visually-hidden-focusable overflow-hidden" href="#content">
    <div class="container">
        <span class="u-skiplink-text">Skip to main content</span>
    </div>
</a>
<!-- End skippy -->
<!-- Preload -->
<div id="loading" class="loading-preloader d-none" style="display: none;">
    <div class="spinner-border text-primary" role="status"><span class="visually-hidden">Loading...</span></div>
</div>
<!-- End Preload -->
</th:block>
<!-- Edn Skippy & Prload -->