<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新增租借品類別資料</title>
    <th:block th:include="~{backend/component/plugin/backendplugin.html :: css}"></th:block>
    <style>
        *{
            font-size: 12px; /* 調整字體大小 */
        }
        *.error {
            font-size: 12px; /* 調整字體大小 */
            color:red;
        }
    </style>
    <!-- Custom styles for this page -->
</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="backend/component/sidebar :: sidebar"></ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav th:replace="backend/component/nav :: nav"></nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div th:replace="backend/component/breadcrumb :: breadcrumb"></div>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">新增租借品類別資料</h6>
                    </div>
                    <div class="a">
                        <div>
                            <form id="form" method="post" th:action="@{addRentalPic}" th:object="${rentalPic}" enctype="multipart/form-data">
                                <div>
                                    選擇租借品編號:
                                    <select id="rentalNo" name="rentalNo" th:field="*{rental.rentalNo}"> <!--th:field，表單元素&數據綁定-->
                                        <option value="0" selected>請選擇</option>
                                        <option th:each="rental : ${rentalListData}" th:value="${rental.rentalNo}" th:text="${rental.rentalNo} + '-[' + ${rental.rentalName} + ']'" />
                                    </select>
                                    <span class="error" th:if="${#fields.hasErrors('rental.rentalNo')}" th:errors="*{rental.rentalNo}" id="rental.rentalNo.errors"></span>
                                </div><br>
                                <div>
                                    上傳租借品照片:
                                    <input type="file" id="rentalFile" name="rentalFile" th:field="*{rentalFile}" onclick="previewImage()" multiple="multiple" onchange="hideContent('rentalFile.errors');" />
                                    <!--                                    <span  th:if="${#fields.hasErrors('rentalFile')}" th:errors="*{rentalFile}" class="error" id="rentalFile.errors"></span>-->
                                    <div id="blob_holder"></div>
                                </div><br>
                                <input type="submit" id="addBtn" value="送出">
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer th:replace="backend/component/bottom :: bottom"></footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
</div>
<!-- Scroll to Top Button-->
<a th:replace="backend/component/scrolltotop :: scrolltotop"></a>
<!-- Logout Modal-->
<div th:replace="backend/component/logout :: logout"></div>

<th:block th:insert="~{backend/component/plugin/backendplugin.html :: js}"></th:block>
<script th:src="@{/jquery/jquery-3.7.1.min.js}"></script>

<script>
    //照片上傳-預覽用
    var filereader_support = typeof FileReader != 'undefined';
    if (!filereader_support) {
        alert("No FileReader support");
    }
    acceptedTypes = {
        'image/png' : true,
        'image/jpeg' : true,
        'image/gif' : true
    };

    function previewImage() {
        var upfile1 = document.getElementById("rentalFile");
        upfile1.addEventListener("change", function(event) {
            var files = event.target.files || event.dataTransfer.files;
            for (var i = 0; i < files.length; i++) {
                previewfile(files[i])
            }
        }, false);
    }

    //previewfile(file) -> 接收檔案物件作為參數，用於預覽檔案的內容
    function previewfile(file) {
        //使用filereader_support 和 acceptedTypes 檢查是否支援 FileReader，或是是否格是無誤
        if (filereader_support === true && acceptedTypes[file.type] === true) {

            //如果符合條件：使用FileReader讀取，並將其轉換為Data URL格式。
            let reader = new FileReader();
            reader.onload = function (event) {
                //建立Image物件，設置其src屬性為Data URL。並設置圖片資訊
                let image = new Image();
                image.src = event.target.result;
                image.width = 200;
                image.border = 2;

                //如果不符合條件，在blob_holder元素中顯示錯誤訊息
                if (blob_holder.hasChildNodes()) {
                    blob_holder.removeChild(blob_holder.childNodes[0]);
                }

                //符合條件，將圖片元素添加到blob_holder元素中，顯示預覽圖。
                blob_holder.appendChild(image);
            };
            reader.readAsDataURL(file);
            document.getElementById('submit').disabled = false;
        } else {
            //根據檔案類型是否符合條件來啟用或禁用提交按鈕
            blob_holder.innerHTML = "<div  style='text-align: left;'>" + "● filename: " + file.name
                + "<br>" + "● ContentTyp: " + file.type
                + "<br>" + "● size: " + file.size + "bytes"
                + "<br>" + "● 上傳ContentType限制: <b> <font color=red>image/png、image/jpeg、image/jpg </font></b></div>";
            document.getElementById('submit').disabled = true;
        }
    }

    //處理新增
    $(document).ready(function (){

        // 觸發submit事件，取得選擇的內容，轉為json格式
        $("#addBtn").on("submit",function(e){
            e.preventDefault(); //阻止提交表單

            //資料打包
            const addData = {
                rentalPicNo: parseInt($('#rentalPicNo').val()),
                rentalNo: parseInt($('#rentalNo').val()),
                rentalFile: parseFloat($('#rentalStat').val()),
                action: "addRentalPic"
            };

            //使用fetch()送出FormData的表單，不需設置 Content-Type
            fetch("/backend/rental/addRental", {
                method: "POST",
                // headers: {"Content-Type": "application/json"},
                body: addData
            }).then(response => response.text())
                .then(response => {
                    alert(response + "新增成功");
                }).catch(error => {
                console.error('Error:', error);
            });
        });
    });
</script>
</body>
</html>