<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link th:href="@{/css/bootstrap/bootstrap-5.3.3.min.css}" rel="stylesheet" />
    <script th:src="@{/js/bootstrap/bootstrap-5.3.3.bundle.min.js}"></script>
</head>
<body style="padding-top: 100px;">
<!--  導覽  -->
<header th:replace="frontend/component/nav :: nav"></header>
<!--  輪播  -->
<div th:replace="frontend/component/carousel :: carousel"></div>
<main>Hello World</main>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">查詢租借品資料 (前端)</h6>
    </div>
    <!-- 錯誤表列 -->
    <div class="errorblock" th:utext="${errorMessage}">${errorMessage}</div><br>
    <div class="a">
        <ul>
            <font color=blue>單一查詢:</font><br>
            <li>
                <form method="post" th:action="@{getOne_For_Display}">
                    選擇租借品類別編號:
                    <select name="rentalCatNo">
                        <option>請選擇</option>
                        <option th:each="rentalCategory : ${rentalCatListData}" th:value="${rentalCategory.rentalCatNo}" th:text="${rentalCategory.rentalCatNo}" />
                    </select>
                    <input type="submit" value="送出">
                </form><br>
            </li>
            <li>
                <!--th:action="@{/backend/rental/listOneRental}" 觸發submit 時，form action 導至/backend/rental/listOneRental路徑-->
                <form method="post" th:action="@{getOne_For_Display}">
                    選擇租借品類別名稱:
                    <select name="rentalCatName">
                        <option>請選擇</option>
                        <option value="0" th:selected="${rentalCategory.rentalCatName}">西裝</option>
                        <option value="1" th:selected="${rentalCategory.rentalCatName}">婚紗</option>
                        <option value="2" th:selected="${rentalCategory.rentalCatName}">禮服</option>
                        <option value="3" th:selected="${rentalCategory.rentalCatName}">飾品</option>
                        <!--                                        <option th:each="rentalCategory : ${rentalCatListData}" th:value="${rentalCategory.rentalCatNo}" th:text="${rentalCategory.rentalCatName}" />-->
                    </select>
                    <input type="submit" value="送出">
                </form><br>
            </li>
            <!-- 網頁可顯示 -- 選擇尺寸、選擇顏色-->

            <!--                <form method="post" th:action="@{getOne_For_Display}">-->
            <!--                    選擇尺寸:-->
            <!--                    <select name="rentalSize" th:field="*{rentalSize}">-->
            <!--                        <option value="0">請選擇</option>-->
            <!--                        <option value="1" th:selected="${rental.rentalSize == 0}">XS</option>-->
            <!--                        <option value="2" th:selected="${rental.rentalSize == 1}">S</option>-->
            <!--                        <option value="3" th:selected="${rental.rentalSize == 2}">M</option>-->
            <!--                        <option value="4" th:selected="${rental.rentalSize == 3}">L</option>-->
            <!--                        <option value="5" th:selected="${rental.rentalSize == 4}">XL</option>-->
            <!--                        <option value="6" th:selected="${rental.rentalSize == 5}">2L</option>-->
            <!--                    </select>-->
            <!--                    <input type="submit" value="送出">-->
            <!--                </form><br>-->
            <!--            </li>-->


            <hr width="90%" size="7">
            <!--  萬用複合查詢(開始)  -->
            <font color=blue>萬用複合查詢:</font><br>
            <li>
                <!--th:action="@{/backend/rental/listOneRental}" 觸發submit 時，form action 導至/backend/rental/listOneRental路徑-->
                <form method="post" th:action="@{search}" th:object="${rentalCategory}">
                    選擇租借品類別編號:
                    <select name="rentalCatNo" th:field="*{rentalCatNo}">
                        <option value="1">請選擇</option>
                        <option th:each="rentalCategory : ${rentalCatListData}" th:value="${rentalCategory.rentalCatNo}" th:text="${rentalCategory.rentalCatNo}" />
                    </select><br>
                    選擇類別名稱:
                    <select name="rentalCatName" th:field="*{rentalCatName}">
                        <option value="2">請選擇</option>
                        <option value="0" th:selected="${rentalCategory.rentalCatName}">西裝</option>
                        <option value="1" th:selected="${rentalCategory.rentalCatName}">婚紗</option>
                        <option value="2" th:selected="${rentalCategory.rentalCatName}">禮服</option>
                        <option value="3" th:selected="${rentalCategory.rentalCatName}">飾品</option>
                        <!--                                        <option th:each="rentalCategory : ${rentalCatListData}" th:value="${rentalCategory.rentalCatNo}" th:text="${rentalCategory.rentalCatName}" />-->
                    </select><br>
                    輸入租借品庫存數量:
                    <input type="text" th:field="*{rentalStockQty}" onclick="hideContent('rentalStockQty.errors');" /><br/>
                    輸入租借品已租借數量:
                    <input type="text" th:field="*{rentalRentedQty}" onclick="hideContent('rentalRentedQty.errors');" /><br/>
                    輸入押金:
                    <input type="text" th:field="*{rentalDesPrice}" onclick="hideContent('rentalDesPrice.errors');" /><br/>
                    <input type="submit" value="送出"/>
                </form>
            </li>
        </ul>
        <li><a th:href="@{listAllRentalCat}">查詢所有租借品</a><br><br></li>
    </div>
</div>
<!--  頁尾  -->
<footer th:replace="frontend/component/bottom :: bottom"></footer>
</body>
</html>