<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Backend - Login</title>
    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/logo/favicon.ico}">
    <th:block th:include="~{backend/component/plugin/backendplugin.html :: css}"></th:block>


</head>
<body class="bg-body-tertiary">
<div th:replace="backend/component/loading :: loading"></div>
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">管理員登入</h1>
                                    </div>
                                    <form method="post" th:action="@{/backend/loginPage}" th:object="${administrator}" class="user">
                                        <div class="form-group">
                                            <span th:if="${idError}" th:text="${idError}" class="error" id="idError"></span>
                                            <input type="text" name="userId" th:value="${userId}" class="form-control form-control-user" id="userId" aria-describedby="emailHelp" placeholder="請輸入用戶名或信箱">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="admPwd" class="form-control form-control-user" id="admPwd" placeholder="請輸入密碼">
                                            <span th:if="${pwdError}" th:text="${pwdError}" class="error" id="pwdError"></span>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" name="autoLogin" class="custom-control-input" id="customCheck" value="1" th:checked="${autoLogin == 1}">
                                                <input type="hidden" name="autoLogin" value="0">
                                                <label class="custom-control-label" for="customCheck">自動登入</label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Login
                                        </button>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" th:href="@{/backend/forgotPassword}">忘記密碼?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" th:href="@{/backend/register}">申請管理員帳號</a>
                                    </div>
                                    <!-- Logout Modal-->
                                    <div th:replace="backend/component/logout :: logout"></div>

                                    <!-- 登出訊息 -->
                                    <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="alertModalLabel">提示</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body" id="alertModalBody">
                                                    <!-- 這裡將顯示錯誤訊息 -->
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirmButton">確定</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:insert="~{backend/component/plugin/backendplugin.html :: js}"></th:block>
    <!-- jQuery code -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const autoLoginCheckbox = document.getElementById("customCheck");

            // 恢復 checkbox 狀態
            autoLoginCheckbox.checked = localStorage.getItem("autoLogin") === "true";

            // 監聽 checkbox 的變化並保存狀態
            autoLoginCheckbox.addEventListener("change", function() {
                localStorage.setItem("autoLogin", this.checked);
                if (this.checked) {
                    this.value = "1";
                } else {
                    this.value = "0";
                }
            });
        });

        // alert
        // window.alert = function(name) {
        //     var iframe = document.createElement("IFRAME");
        //     iframe.style.display = "none";
        //     iframe.setAttribute("src", 'data:text/plain,');
        //     document.documentElement.appendChild(iframe);
        //     window.frames[0].window.alert(name);
        //     iframe.parentNode.removeChild(iframe);
        // };
        //
        // $(document).ready(function() {
        //     // 檢查 URL 中是否有錯誤訊息參數
        //     const urlParams = new URLSearchParams(window.location.search);
        //     const errorMsg = urlParams.get('error');
        //
        //     if (errorMsg) {
        //         alert(decodeURIComponent(errorMsg));
        //         // 清除URL中的error參數
        //         urlParams.delete('error');
        //         window.history.replaceState(null, null, '?' + urlParams.toString() + window.location.hash);
        //     }
        // });

    </script>
</body>

</html>