<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Backend - Login</title>
    <th:block th:include="~{backend/component/plugin/backendplugin.html :: css}"></th:block>


</head>
<body class="bg-body-tertiary">
<div th:replace="backend/component/loading :: loading"></div>
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    <form method="post" th:action="@{/backend/loginPage}" th:object="${administrator}" class="user">
                                        <div class="form-group">
                                            <span th:if="${idError}" th:text="${idError}" class="error" id="idError"></span>
                                            <input type="text" name="userId" th:value="${userId}" class="form-control form-control-user"
                                                id="userId" aria-describedby="emailHelp"
                                                placeholder="請輸入用戶名或信箱">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="admPwd" class="form-control form-control-user"
                                                id="admPwd" placeholder="請輸入密碼">
                                            <span th:if="${pwdError}" th:text="${pwdError}" class="error" id="pwdError"></span>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" name="autoLogin" class="custom-control-input" id="customCheck" th:value="${autoLogin}">
                                                <input type="hidden" name="autoLogin" value="0">
                                                <label class="custom-control-label" for="customCheck">Remember Me</label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Login
                                        </button>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" th:href="@{/backend/forgotPassword}">Forgot Password?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" th:href="@{/backend/register}">Create an Account!</a>
                                    </div>
                                    <!-- Logout Modal-->
                                    <div th:replace="backend/component/logout :: logout"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:insert="~{backend/component/plugin/backendplugin.html :: js}"></th:block>
    <!-- jQuery code -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const autoLoginCheckbox = document.getElementById("customCheck");
            autoLoginCheckbox.addEventListener("change", function() {
                if (this.checked) {
                    this.value = "1";
                } else {
                    this.value = "0";
                }
            });
        });
    </script>
</body>

</html>