<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>backend - Register</title>
    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/logo/favicon.ico}">
    <th:block th:include="~{backend/component/plugin/backendplugin.html :: css}"></th:block>

</head>
<body class="bg-gradient-primary">
<div th:replace="backend/component/loading :: loading"></div>
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">申請管理員帳號</h1>
                            </div>
                            <form method="post" th:action="@{signUp}" th:object="${administrator}" class="user">
                                <div class="form-group">
                                    <input name="admName" th:value="*{admName}" type="text" class="form-control form-control-user" id="admName"
                                           placeholder="請填入姓名">
                                </div>
                                <div class="form-group">
                                    <input name="admEmail" th:value="*{admEmail}" type="email" class="form-control form-control-user" id="admEmail"
                                        placeholder="請填入信箱">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input name="admPwd" th:value="*{admPwd}" type="password" class="form-control form-control-user"
                                            id="admPwd" placeholder="請輸入密碼">
                                    </div>
                                    <div class="col-sm-6">
                                        <input name="repeatPwd" type="password" class="form-control form-control-user"
                                            id="repeatPwd" placeholder="請輸入二次密碼">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    申請帳號
                                </button>
                                <hr>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" th:href="@{/backend/forgotPassword}">忘記密碼?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" th:href="@{/backend/login}">回到登入頁面</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:insert="~{backend/component/plugin/backendplugin.html :: js}"></th:block>
</body>

</html>