<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>WebSocket Demo</title>
</head>
<body>
<h1>後台管理員推播系統</h1>
<button onclick="sendMessage()">發送消息</button>
<div id="messages"></div>

<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.1/dist/sockjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
<script>

    var stompClient = null;

    function connect() {
        var socket = new SockJS('/admin');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            console.log('已連接: ' + frame);
            subscribeToTopics();
        });
    }

    function subscribeToTopics() {
        // 確保只訂閱一次
        if (!stompClient.subscribed) {
            stompClient.subscribed = true;
            stompClient.subscribe('/topic/employee', function (message) {
                console.log("1");
                showMessage(message.body);
            });
            stompClient.subscribe('/topic/fullTime', function (message) {
                console.log("2");
                showMessage(message.body);
            });
            stompClient.subscribe('/topic/manager', function (message) {
                console.log("3");
                showMessage(message.body);
            });
            stompClient.subscribe('/topic/boss', function (message) {
                console.log("4");
                showMessage(message.body);
            });
        }
    }

    function sendMessage() {
        var message = "來自客戶端的訊息";
        stompClient.send("/company/sendMessage", {}, message);
    }

    function showMessage(message) {
        var messagesDiv = document.getElementById('messages');
        var messageElement = document.createElement('p');
        messageElement.textContent = message;
        messagesDiv.appendChild(messageElement);
    }

    connect();
</script>
</body>
</html>
