<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>addNews</title>
</head>
<body>
<form th:action="@{insert}" method="post" th:object="${news}">

    <div>
        <label>標題</label>
        <input type="text" th:field="*{newsTitle}" onclick="hideContent('newsTitle.errors')"/><br>
        <span th:if="${#fields.hasErrors('newsTitle')}" th:errors="*{newsTitle}" class="error"></span>
    </div>

    <div>
        <label>內容</label>
        <textarea name="newsContent" th:field="*{newsContent}" onclick="hideContent('newsContent.errors')"/><br>
        <span th:if="${#fields.hasErrors('newsContent')}" th:errors="*{newsContent}" class="error"></span>
    </div>

    <div>
        <label>發布時間</label>
        <input type="datetime-local" th:field="*{postTime}" onclick="hideContent('postTime.errors')"/><br>
        <span th:if="${#fields.hasErrors('postTime')}" th:errors="*{postTime}" class="error"></span>
    </div>

    <div>
        <button type="submit" id="submit"> 送出新增</button>
    </div>

</form>
<script>
    function hideContent(d) {
        document.getElementById(d).style.display = "none";
    }
</script>
</body>
</html>