* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

img {
    vertical-align: middle;
}

span {
    vertical-align: middle;
}

/* html */
:root {
	--header-height: 60px;
	--aside-width: 200px;
}

/* header */
.logo {
	margin-right: auto;
	width:200px;
	display: flex;
	align-items: center;
}

.logo span{
	color:white;
	font-size: 18px;
	font-weight: bold;
}

.logo img {
	max-width: 50px;
	margin:75px;
	text-align: center;
}

header.header {
	border: 1px solid black;
	background-color: #1a2a35;
	height: var(--header-height);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;
}

.header nav {
	background: none !important;
	text-transform: uppercase;
}

.header nav li {
	margin-top: 15px;
}

.header {
	display: flex !important;
	justify-content: center;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.hoverable a {
/* 	text-decoration: none; */
	color: white;
}

.hoverable {
	font-size: 20px;
	font-weight: bold;
	color: white;
	text-decoration: none;
	display: inline-block;
	backface-visibility: hidden;
	vertical-align: middle;
	position: relative;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	transform: translateZ(0);
	transition-duration: .3s;
	transition-property: transform;
}

.hoverable:before {
	position: absolute;
	pointer-events: none;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35)
		0%, rgba(255, 255, 255, 0) 80%);
	background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35)
		0%, rgba(255, 255, 255, 0) 80%);
	transition-duration: 0.3s;
	transition-property: transform, opacity;
}

.hoverable:hover, .hoverable:active, .hoverable:focus {
	transform: translateY(-3px);
}

.hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before
	{
	opacity: 1;
	transform: translateY(-3px);
}

.navbar {
	display: flex !important;
	justify-content: space-between;
	/* 設定 navbar 寬度 */
	width: 80%;
}

.navbar-nav {
	display: flex !important;
	list-style: none;
	padding: 0;
	margin: 0;
}

.navbar ul {
	display: flex;
	justify-content: space-between;
	/* 讓 ul 佔滿 navbar 的寬度 */
	width: 100%;
}

.navbar-nav li {
	flex: 1;
	text-align: center;
}

.hoverable:hover {
	color: yellow;
}

/* nav login logout */
.user-info {
	display: flex;
	align-items: center;
}

.user-info img {
	margin-right: 30px;
}

.lddIcon {
	margin-right: 10px !important;
}

.user-info {
	width: 300px;
	margin:0px 20px;
}

.user-info span{
	color:white;
	font-size: 18px;
	font-weight: bold;
	margin-right: 10px;
	margin-left:auto;
}

.user-info button {
	width: 50px;
	font-size: 14px;
	font-weight: bold;
	/* 設定按鈕的內間距 */
	padding: 5px 5px;
	background-color: #3498db;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 30px;
}

.user-info button:hover {
	/* 滑鼠懸停時的背景色 */
	background-color: yellow;
	color: red;
	/* 滑鼠懸停時的陰影效果 */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#message {
	opacity: 0.1;
}

.messagePopup {
	position: absolute;
	top: 100%;
	display: none;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding: 10px;
	z-index: 9999;
}

.messagePopup li {
	list-style: none;
	padding: 5px 0;
	border-bottom: 1px solid #ccc;
}

.messagePopup li a {
	text-decoration: none;
	color: #333;
}

.messagePopup li a:hover {
	color: blue;
}

/* aside */
aside.aside {
/* 	border: 1px solid lightgray; */
	background-color: #5e6e8a;
	width: var(--aside-width);
	position: fixed;
	left: 0;
	top: var(--header-height);
	height: calc(100% - var(--header-height));
	overflow-y: auto;
	padding: 10px 0;
	/* 隱藏滾軸 */
	scrollbar-width: thin;
	scrollbar-color: transparent transparent;
	z-index: 1;
}

aside.aside::-webkit-scrollbar {
	/* 設定滾軸寬度 */
	width: 0px;
}

aside.aside::-webkit-scrollbar-thumb {
	/* 設定滾軸顏色 */
	background-color: transparent;
}

aside.aside nav.nav {
/* 	border: 1px solid red; */
	width:100%;
/* 	text-align: center; */
	padding:10px 15px;
	margin: 0px ;
}

aside.aside nav.nav ul.nav_list {
/* 	border: 1px solid black; */
	list-style: none;
	margin: 0;
	padding: 0;
	width:100%;
/* 	text-align: center; */
}

aside.aside nav.nav ul.nav_list>li {
/* 	border: 1px solid yellow; */
	text-align: center;
	margin:0px auto;
	width:100%;
	padding: 5px;
}

aside.aside nav.nav ul.nav_list>li:first-child {
	/* 	aside上方留白按鈕下移 */
/* 	text-align: center; */
}

aside.aside nav.nav ul.nav_list>li a {
	/*     border: 1px solid white; */
	text-decoration: none;
	display: inline-block;
/* 	text-align: center; */
	margin: 3px 0px;
}

/* aside 功能區隔看板*/
.notice-board {
	background-color: #f0f0f0;
	padding: 5px;
	border: 2px solid #ccc;
	border-radius: 8px;
	width: 150px;
	text-align: center;
}

.notice-board span {
	color: #333;
	font-size: 20px;
	font-weight: bold;
}

.subBoard {
    font-size: 16px;
    font-weight: bold;
    background-color: lightyellow;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 8px;
    width: 110px;
    text-align: center;
    margin: 5px 20px;
    position: relative;
    overflow: visible;
}

.subBoard button{
	width: 90px;
	padding: 5px;
	font-size: 13px;
	font-weight: bold;
}

/* aside btn mem ldd功能分級 */
.memFunction {
/* 	text-align: center; */
	width: 120px;
	color: #1a2a35;
	font-size: 16px;
	font-weight: bold;
	padding: 5px;
	background-color: lightblue;
	border: none;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	/* 調整陰影效果 */
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
	/* 添加陰影效果的過渡效果 */
	cursor: pointer;
}

.memFunction:hover {
	color: white;
	/* 滑鼠懸停時的背景色 */
	background-color: #2980b9;
	/* 滑鼠懸停時的陰影效果 */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.lddFunction {
/* 	text-align: center; */
	width: 120px;
	color: #1a2a35;
	font-size: 16px;
	font-weight: bold;
	padding: 5px;
	background-color: rgb(255, 196, 0);
	border: none;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	/* 調整陰影效果 */
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
	/* 添加陰影效果的過渡效果 */
	cursor: pointer;
}

.lddFunction:hover {
	color: white;
	background-color: darkgoldenrod;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.disabled-button {
    color: #7f8c8d;
    background-color: #dcdcdc; 
    cursor: not-allowed;
}

.disabled-button:hover {
	color: #7f8c8d;
    background-color: #dcdcdc; 
    cursor: not-allowed;
}


main {
	margin-left: var(--aside-width);
	min-height: calc(100vh - var(--header-height));
	padding: 0px 20px;
	padding-top: var(--header-height);
	z-index: 1;
}