<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新增租借方案資料</title>
    <th:block th:include="~{backend/component/plugin/backendplugin.html :: css}"></th:block>
    <style>
        *{
            font-size: 12px; /* 調整字體大小 */
        }
        *.error {
            font-size: 12px; /* 調整字體大小 */
            color:red;
        }
    </style>
    <!-- Custom styles for this page -->
</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="backend/component/sidebar :: sidebar"></ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav th:replace="backend/component/nav :: nav"></nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div th:replace="backend/component/breadcrumb :: breadcrumb"></div>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">新增租借方案資料</h6>
                    </div>
                    <div class="a">
                        <div>
                            <form id="form" method="post" th:action="@{addRentSet}" th:object="${rentSet}">
                                <div>
                                    <label>&nbsp;&nbsp;&nbsp;&nbsp;選擇租借品訂單編號:</label>
                                    <select name="rentalOrdNo" id="rentalOrdNo">
                                        <option value="0">請選擇</option>
                                        <option th:each="rentSet : ${rentSetListData}" th:value="${rentSet.rentalOrdNo}"
                                                th:text="${rentSet.rentalOrdNo}"></option>
                                    </select>
                                    <span class="error" th:if="${#fields.hasErrors('rentalOrdNo')}" th:errors="*{rentalOrdNo}" id="rentalOrdNo.errors">租借品訂單編號錯誤</span>
                                </div><br>
                                <div>
                                    <label>選擇租借天數:</label>
                                    <select name="rentalSetDays" id="rentalSetDays" th:field="*{rentalSetDays}" onchange="syncSelectsReverse()">
                                        <option value="1">請選擇</option>
                                        <option value="7天" th:selected="${rentSet.rentalSetDays == 0}">7天</option>
                                        <option value="14天" th:selected="${rentSet.rentalSetDays == 1}">14天</option>
                                    </select>
                                    <span class="error" th:if="${#fields.hasErrors('rentalSetDays')}" th:errors="*{rentalSetDays}" id="rentalSetDays.errors">租借天數錯誤</span>
                                </div><br>
                                <div>
                                    <label>選擇方案名稱:</label>
                                    <input type="text" id="rentalSetName" name="rentalSetName" th:field="*{rentalSetName}" onclick="hideContent('rentalSetName.errors');" disabled/><br/>
                                    <span class="error" th:if="${#fields.hasErrors('rentalSetName')}" th:errors="*{rentalSetName}" id="rentalSetName.errors">方案名稱錯誤</span>
                                </div><br>
                                <input type="submit" id="addBtn" value="送出">
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer th:replace="backend/component/bottom :: bottom"></footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
</div>
<!-- Scroll to Top Button-->
<a th:replace="backend/component/scrolltotop :: scrolltotop"></a>
<!-- Logout Modal-->
<div th:replace="backend/component/logout :: logout"></div>

<th:block th:insert="~{backend/component/plugin/backendplugin.html :: js}"></th:block>
<script th:src="@{/jquery/jquery-3.7.1.min.js}"></script>


<script>
    //rentalSetName 改變時，syncSelects 函數會被調用來同步 rentalSetDays 的值
    function syncSelects() {
        const rentalSetName = document.getElementById("rentalSetName");
        const rentalSetDays = document.getElementById("rentalSetDays");

        if (rentalSetName.value === "租借7日") {
            rentalSetDays.value = "7天";
        } else if (rentalSetName.value === "租借14日") {
            rentalSetDays.value = "14天";
        } else {
            rentalSetDays.value = "";
        }
    }

    // rentalSetDays 改變時，syncSelectsReverse 函數會被調用來同步 rentalSetName 的值
    function syncSelectsReverse() {
        const rentalSetName = document.getElementById("rentalSetName");
        const rentalSetDays = document.getElementById("rentalSetDays");

        if (rentalSetDays.value === "7天") {
            rentalSetName.value = "租借7日";
        } else if (rentalSetDays.value === "14天") {
            rentalSetName.value = "租借14日";
        } else {
            rentalSetName.value = "";
        }
    }


    $(document).ready(function (){
        // 觸發submit事件，取得選擇的內容，轉為json格式
        $("#addBtn").on("submit",function(e){
            console.log("你點擊了");
            e.preventDefault(); //阻止提交表單

            //資料打包
            const addData = {
                rentalOrdNo: parseInt($('#rentalOrdNo').val()),
                rentalSetName: $('#rentalSetName').val(),
                rentalSetDays: parseFloat($('#rentalSetDays').val()),
                action: "addRentSet"
            };
            console.log("我有拿到打包資料11111");
            fetch("/backend/rentset/addRentSet", {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify(addData),
            }).then(function (response){
                console.log("我有拿到打包資料22222");
                return response.text();
            }).then(function (rentalOrdNo){
                console.log("我有拿到打包資料33333");
                alert(rentalOrdNo + "新增成功");
            })
        });
    });
</script>
</body>
</html>