<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新增租借方案資料</title>
    <th:block th:include="~{backend/component/plugin/backendplugin.html :: css}"></th:block>
    <style>
        *{
            font-size: 12px; /* 調整字體大小 */
        }
        *.error {
            font-size: 12px; /* 調整字體大小 */
            color:red;
        }
    </style>
    <!-- Custom styles for this page -->
</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="backend/component/sidebar :: sidebar"></ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav th:replace="backend/component/nav :: nav"></nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div th:replace="backend/component/breadcrumb :: breadcrumb"></div>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">新增租借方案資料</h6>
                    </div>
                    <div class="a">
                        <div>
                            <form id="form" method="post" th:action="@{addRentSet}" th:object="${rentSet}">
                                <div>
                                    <label>選擇租借品訂單編號:</label>
                                    <select name="rentalOrdNo" id="rentalOrdNo" th:field="*{rentalOrdNo}"> <!--th:field，表單元素&數據綁定-->
                                        <option value="0">請選擇</option>
                                        <option th:each="rentalOrder : ${rentalOrderListData}" th:value="${rentSet.rentalOrder.rentalOrdNo}"
                                                th:text="${rentSet.rentalOrder.rentalOrdNo}" />
                                    </select>
                                    <span class="error" th:if="${#fields.hasErrors('rentalOrdNo')}" th:errors="*{rentalOrdNo}" id="rentalOrdNo.errors">租借品訂單編號錯誤</span>
                                </div><br>
                                <div>
                                    <label>選擇方案名稱:</label>
                                    <select id="rentalSetName" name="rentalSetName" th:field="*{rentalSetName}"> <!--th:field，表單元素&數據綁定-->
                                        <option value="1">請選擇</option>
                                        <option th:each="rentSet : ${rentSetListData}" th:value="${rentSet.rentalSetName}" th:text="${rentSet.rentalSetName}"/>
                                    </select>
                                    <span class="error" th:if="${#fields.hasErrors('rentalSetName')}" th:errors="*{rentalSetName}" id="rentalSetName.errors">方案名稱錯誤</span>
                                </div><br>
                                <div>
                                    <label>選擇租借天數:</label>
                                    <select name="rentalSetDays" id="rentalSetDays">
                                        <option value="2" selected>請選擇</option>
                                        <option value="0" th:selected="${rentSet.rentalSetDays == 0}">7天</option>
                                        <option value="1" th:selected="${rentSet.rentalSetDays == 1}">14天</option>
                                    </select><br>
                                    <span class="error" th:if="${#fields.hasErrors('rentalSetDays')}" th:errors="*{rentalSetDays}" id="rentalSetDays.errors">租借天數錯誤</span>
                                </div><br>
                                <input type="submit" id="addBtn" value="送出">
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer th:replace="backend/component/bottom :: bottom"></footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
</div>
<!-- Scroll to Top Button-->
<a th:replace="backend/component/scrolltotop :: scrolltotop"></a>
<!-- Logout Modal-->
<div th:replace="backend/component/logout :: logout"></div>

<th:block th:insert="~{backend/component/plugin/backendplugin.html :: js}"></th:block>
<script th:src="@{/jquery/jquery-3.7.1.min.js}"></script>


<script>

    $(document).ready(function (){
        // 觸發submit事件，取得選擇的內容，轉為json格式
        $("#addBtn").on("submit",function(e){
            e.preventDefault(); //阻止提交表單

            //資料打包
            const addData = {
                rentalOrdNo: parseInt($('#rentalOrdNo').val()),
                rentalSetName: $('#rentalSetName').val(),
                rentalSetDays: parseFloat($('#rentalSetDays').val()),
                action: "addRentSet"
            };

            fetch("/backend/rentset/addRentSet", {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify(addData)
            }).then(function (response){
                return response.text();
            }).then(function (rentalOrdNo){
                alert(rentalOrdNo + "新增成功");
            })
        });
    });
</script>
</body>
</html>