<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>查詢租借方案</title>
    <th:block th:include="~{backend/component/plugin/backendplugin.html :: css}"></th:block>
    <!-- Custom styles for this page -->
    <style>
        *{
            font-size: 12px; /* 調整字體大小 */
        }
        .bordered-div {
            border: 1px solid black; /* 你可以根據需要調整邊框的樣式 */
            padding: 10px;          /* 內邊距 */
            margin: 10px 0;         /* 上下外邊距 */
            width: 50%;             /* 設置寬度為 80% */
            max-width: 500px;       /* 最大寬度 */
            box-sizing: border-box; /* 包含內邊距和邊框在寬度內 */
        }
    </style>
</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="backend/component/sidebar :: sidebar"></ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav th:replace="backend/component/nav :: nav"></nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div th:replace="backend/component/breadcrumb :: breadcrumb"></div>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">查詢租借方案</h6>
                    </div>
                    <div class="a">
                        <ul>
                            <form method="get" th:action="@{search}">
                                <label>選擇租借品訂單編號 :</label>
                                <select name="rentalOrdNo">
                                    <option>請選擇</option>
                                    <option th:each="rentSet : ${rentSetListData}" th:value="${rentSet.getRentalOrdNo()}" th:text="${rentSet.getRentalOrdNo()}"></option>
                                </select>
                                <input type="submit" value="送出">
                            </form><br>
                            <form method="get" th:action="@{search}">
                                <label>選擇方案名稱 :</label>
                                <select name="rentalSetName">
                                    <option>請選擇</option>
                                    <option th:each="rentSet : ${rentSetListData}" th:value="${rentSet.getRentalSetName()}" th:text="${rentSet.getRentalSetName()}"></option>
                                </select>
                                <input type="submit" value="送出">
                            </form><br>
                            <div th:if="${search}" class="bordered-div">
                                <div th:insert="~{/backend/rentset/listOneRentSet :: OneRentSet}"></div>
                            </div>
                        </ul>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer th:replace="backend/component/bottom :: bottom"></footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
</div>
<!-- Scroll to Top Button-->
<a th:replace="backend/component/scrolltotop :: scrolltotop"></a>
<!-- Logout Modal-->
<div th:replace="backend/component/logout :: logout"></div>
<th:block th:insert="~{backend/component/plugin/backendplugin.html :: js}"></th:block>
</body>
</html>