<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <th:block th:include="~{backend/component/plugin/backendplugin.html :: css}"></th:block>
    <!-- Custom styles for this page -->
</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="backend/component/sidebar :: sidebar"></ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav th:replace="backend/component/nav :: nav"></nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div th:replace="backend/component/breadcrumb :: breadcrumb"></div>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">修改租借品類別資料</h6>
                    </div>
                    <div class="a">
                        <ul>
                            <form method="post" th:action="@{updateRentalCategory}" th:object="${rentalCategory}">
                                <li>
                                    輸入租借品類別編號:
                                    <input type="text" name="rentalCatNo" th:field="*{rentalCatNo}" style="border:0px ; font-weight: bold;" readonly /><br/>
                                </li><br>
                                <li>
                                    輸入類別名稱:
                                    <input type="text" name="rentalCatName" th:field="*{rentalCatName}" onclick="hideContent('rentalCatName.errors');" /><br/>
                                    <span  th:if="${#fields.hasErrors('rentalCatName')}" th:errors="*{rentalCatName}" class="error" id="rentalCatName.errors"></span>
                                </li><br>
                                <li>
                                    輸入租借品庫存數量:
                                    <input type="text" name="rentalStockQty" th:field="*{rentalStockQty}" onclick="hideContent('rentalStockQty.errors');" /><br/>
                                    <span th:if="${#fields.hasErrors('rentalStockQty')}" th:errors="*{rentalStockQty}" class="error" id="rentalStockQty.errors"></span>
                                </li><br>
                                <li>
                                    輸入租借品已租借數量:
                                    <input type="text" name="rentalRentedQty" th:field="*{rentalRentedQty}" onclick="hideContent('rentalCatNo.errors');" /><br/>
                                    <span th:if="${#fields.hasErrors('rentalRentedQty')}" th:errors="*{rentalRentedQty}" class="error" id="rentalRentedQty.errors"></span>
                                </li><br>
                                <li>
                                    輸入押金:
                                    <input type="text" name="rentalDesPrice" th:field="*{rentalDesPrice}" onclick="hideContent('rentalDesPrice.errors');" /><br/>
                                    <span th:if="${#fields.hasErrors('rentalDesPrice')}" th:errors="*{rentalDesPrice}" class="error" id="rentalDesPrice.errors"></span>
                                </li><br><br>
                                <input type="submit" id="updateBtn" value="送出"><!-- 送出成功跳轉listAll -->
                                <input type="hidden" name="rentalNo" th:value="${rental.rentalNo}">
                                <input type="hidden" name="rentalCatNo" th:value="${rental.rentalCategory.rentalCatNo}">
                            </form>
                        </ul>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer th:replace="backend/component/bottom :: bottom"></footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
</div>
<!-- Scroll to Top Button-->
<a th:replace="backend/component/scrolltotop :: scrolltotop"></a>
<!-- Logout Modal-->
<div th:replace="backend/component/logout :: logout"></div>

<th:block th:insert="~{backend/component/plugin/backendplugin.html :: js}"></th:block>
<script th:src="@{/static/jquery/jquery-3.7.1.min.js}"></script>
<script>
    // 若要做到不點選按鈕即時更新，可以使用WebSocket的方式
    $(document).ready(function (){

        // 觸發submit事件，取得選擇的內容，轉為json格式
        $("#updateBtn").on("submit",function(e){
            e.preventDefault(); //阻止提交表單

            //資料打包
            var updateData = {
                rentalCatNo: $('#rentalCatNo').val(),
                rentalCatName: $('#rentalCatName').val(),
                rentalStockQty: parseInt($('#rentalStockQty').val()),
                rentalRentedQty: parseInt($('#rentalRentedQty').val()),
                rentalDesPrice: parseFloat($('#rentalDesPrice').val()),
                action: "updateRental"
            };

            fetch("/backend/rentalcategory/updateRental", {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify(updateData)
            }).then(function (response){
                return response.text();
            }).then(function (rentalNo){
                alert(rentalNo + "新增成功");
            })
        });
    });
</script>
</body>
</html>