b {
	color: red;
	font-size: 24px;
	font-weight: bold;
	vertical-align: middle;
}

h1 {
	text-align: center;
	color: red;
}

.tittleBoard {
	text-align: center;
	width: 100%;
	padding: 0px 200px;
	border-radius: 8px;
	margin: 15px 0px;
}

.tittleBoard span {
	font-size: 30px;
	font-weight: bold;
	color: #1a2a35;
	background-color: Wheat;
	padding: 10px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	display: inline-block;
	margin: 0px;
}
	    


form {
	display: inline-block;
}

label.formEl {
	padding: 10px;
	margin: 10px;
	font-size:16px;
	font-weight: bold;
	vertical-align: middle;
}

span.formEl {
	padding: 10px;
	margin: 10px;
	font-size: 16px;
	font-weight: bold;
	vertical-align: middle;
}

.display th{
	font-size: 12px;
	padding:10px !important;
	text-align: center !important;
}
.display td{
	font-size: 12px;
	text-align: center !important;
}

/* for 狀態描述文字顏色分級 */
.warning {
	color: DarkGoldenRod;
	font-weight: bold;
}

.success {
	color: #28a745;
	font-weight: bold;
}

.cancel {
	color: #dc3545;
	font-weight: bold;
}

/* for 功能按鈕顏色分級 */
.reject_button {
	padding: 5px 5px;
	margin: 3px 3px;
	font-size: 12px;
	font-weight: bold;
	background-color: rgb(158, 20, 20);
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	vertical-align: middle;
}

.approve_button {
	padding: 5px 5px;
	margin: 3px 3px;
	font-size: 12px;
	font-weight: bold;
	background-color: rgb(24, 36, 117);
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	vertical-align: middle;
}

.reject_button:hover, .approve_button:hover {
	background-color: rgb(232, 206, 40);
	color: black;
}

/* for input元素 */
input[type="date"] {
	padding: 5px;
	font-size: 12px;
	border: 1px solid #ccc;
	border-radius: 5px;
	outline: none;
	vertical-align: middle;
}

input[type="date"]:focus {
	border-color: #3498db;
	box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

input[type="radio"] {
	margin-right: 3px;
}

input[type="text"] {
	padding: 3px 15px;
	margin: 0px;
	width: 150px;
	font-size: 16px;
	font-weight: bold;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	color: #333;
}

input[type="text"]:focus {
	outline: none;
	border-color: #007bff;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* for select元素 */
.customA {
	width: 80%;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 14px;
}

select:focus {
	outline: none;
	border-color: #007bff;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}