<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>訂單詳情資料</title>
    <style type="text/css">
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd; /* 设置单元格底部边框 */
            border-right: 1px solid #ddd; /* 设置单元格右侧边框 */
        }
        th {
            background-color: #f2f2f2;
            border-top: 1px solid #ddd; /* 设置标题顶部边框 */
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
    <div align="center">
        <h2>商品訂單資料</h2>
        <h3>
            <a class="navbar-brand" th:href="@{/productorder/select_page}">
                <img th:src="@{/images/back1.gif}">回查詢頁<label th:text="${success}"></label>
            </a>
        </h3>
    </div>
</nav>
<div align="center" th:fragment="listOneEmp-div">
    <h3><span>查詢結果 :</span></h3>
    <table>
        <thead>
        <tr>
            <th>會員編號</th>
            <th>商品編號</th>
            <th>購買數量</th>
            <th>總價</th> <!-- 新增一个标题列 -->
        </tr>
        </thead>
        <tbody th:each="cart : ${cartListData}">
        <tr>
            <td th:text="${cart.compositeKey.memNo}"></td>
            <td th:text="${cart.compositeKey.productNo}"></td>
            <td th:text="${cart.productBuyQty}"></td>
            <td th:text="${cart.productBuyQty * (cart.product != null ? cart.product.productPrice : 0)}"></td> <!-- 计算总价 -->
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
