<!-- Mini Cart  -->
<div th:fragment="minichart" class="offcanvas offcanvas-end" tabindex="-1" id="modalMiniCart" aria-labelledby="modalMiniCartLabel">
    <div class="offcanvas-header border-bottom">
        <h6 class="offcanvas-title" id="modalMiniCartLabel">Your Cart (2)</h6>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

    </div>
    <div class="offcanvas-footer border-top p-3">
        <div class="row g-0 pt-2 mt-2 border-top fw-bold text-mode">
            <div class="col-8"><span class="text-mode">商品總金額</span></div>
            <div class="col-4 text-end"><span class="ml-auto" id="allprice"></span></div>
        </div>
        <div class="pt-4">
            <a class="btn btn-block btn-mode w-100 mb-3" href="/frontend/cart/addcartsuccess">查看商品購物車</a>
            <a class="btn btn-block btn-outline-mode w-100" th:href="@{}">查看購物車</a>
        </div>
    </div>
</div>