<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新增商品 - 我的最愛</title>
    <th:block th:include="~{backend/component/plugin/backendplugin.html :: css}"></th:block>
    <style>
        *{
            font-size: 12px; /* 調整字體大小 */
        }
        .error {
            font-size: 12px; /* 調整字體大小 */
            color:red;
        }
    </style>
    <!-- Custom styles for this page -->
</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="backend/component/sidebar :: sidebar"></ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav th:replace="backend/component/nav :: nav"></nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div th:replace="backend/component/breadcrumb :: breadcrumb"></div>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">新增商品 - 我的最愛</h6>
                    </div>
                    <div class="a">
                        <div>
                            <form id="form" method="post" th:action="@{addProductMyFAV}" th:object="${productMyFavorite}">
                                <div>
                                    <label>選擇商品編號:</label>
                                    <select name="productNo" id="productNo">
                                        <option>請選擇</option>
                                        <option th:each="product : ${productListData}" th:value="${product.productNo}" th:text="${product.productNo} + '-[' + ${product.productName} + ']'" />
                                    </select><br>
                                    <span class="error" th:if="${#fields.hasErrors('product.productNo')}" th:errors="*{product.productNo}" id="product.productNo.errors">商品編號錯誤</span>
                                </div><br>
<!--                                <div>-->
<!--                                    <label>選擇會員編號:</label>-->
<!--                                    <select name="memNo" id="memNo">-->
<!--                                        <option>請選擇</option>-->
<!--                                        <option th:each="member : ${memberListData}" th:value="${member.memNo}" th:text="${member.memNo} + '-[' + ${member.memName} + ']'" />-->
<!--                                    </select><br>-->
<!--                                    <span class="error" th:if="${#fields.hasErrors('member.memNo')}" th:errors="*{member.memNo}" id="member.memNo.errors">會員編號錯誤</span>-->
<!--                                </div><br>-->
                                <div>
                                    <label>選擇加入我的最愛時間:</label>
                                    <input type="datetime-local" id="productFavTime" name="productFavTime" th:field="*{productFavTime}" onclick="hideContent('productFavTime.errors');"/>
                                    <br/>
                                    <span class="error" th:if="${#fields.hasErrors('productFavTime')}" th:errors="*{productFavTime}" id="productFavTime.errors">時間錯誤</span>
                                </div>
                                <input type="submit" id="addBtn" value="送出">
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer th:replace="backend/component/bottom :: bottom"></footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
</div>
<!-- Scroll to Top Button-->
<a th:replace="backend/component/scrolltotop :: scrolltotop"></a>
<!-- Logout Modal-->
<div th:replace="backend/component/logout :: logout"></div>

<th:block th:insert="~{backend/component/plugin/backendplugin.html :: js}"></th:block>
<script th:src="@{/jquery/jquery-3.7.1.min.js}"></script>


<script>

    $(document).ready(function (){

        // 觸發submit事件，取得選擇的內容，轉為json格式
        $("#addBtn").on("submit",function(e){
            e.preventDefault(); //阻止提交表單

            //資料打包
            const addData = {
                productName: $('#productName').val(),
                productPrice: parseFloat($('#productPrice').val()),
                productSize: parseInt($('#productSize').val()),
                productColor: $('#productColor').val(),
                productInfo: $('#productInfo').val(),
                productStat: parseFloat($('#productStat').val()),
                productCatNo: parseInt($('#productCatNo').val()),
                action: "addProduct"
            };

            fetch("/backend/product/addProduct", {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify(addData)
            }).then(function (response){
                return response.text();
            }).then(function (productNo){
                alert(productNo + "新增成功");
            })
        });
    });
</script>
</body>
</html>


