


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品訂單資料新增</title>
    <th:block th:include="~{backend/component/plugin/backendplugin.html :: css}"></th:block>
    <style>
        .error {
            font-size: 12px; /* 調整字體大小 */
        }
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 20px;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            display: block;
            font-weight: bold;
        }

        input[type="text"],
        select {
            width: 20%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .error {
            color: red;
        }

        .text-center {
            text-align: left;
        }

        .btn {
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            background-color: #007bff;
            color: white;
            cursor: pointer;
        }

        .btn:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="backend/component/sidebar :: sidebar"></ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav th:replace="backend/component/nav :: nav"></nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div th:replace="backend/component/breadcrumb :: breadcrumb"></div>
                <!-- 內容請填這裡~~~~~~~~~~~~~~~ -->
                <form th:action="@{insertproductOrderDetail}" method="post" th:object="${productOrderDetail}" class="my-form">
                    <div class="form-group">
                        <label>商品訂單編號:</label>
                        <input type="text" th:field="*{compositeKey.productOrdNo}" onclick="hideContent('compositeKey.productOrdNo.errors');" />
                        <span th:if="${#fields.hasErrors('compositeKey.productOrdNo')}" th:errors="*{compositeKey.productOrdNo}" class="error"></span>
                    </div>

                    <div class="form-group">
                        <label>商品編號:</label>
                        <input type="text" th:field="*{compositeKey.productNo}" onclick="hideContent('compositeKey.productNo.errors');" />
                        <span th:if="${#fields.hasErrors('compositeKey.productNo')}" th:errors="*{compositeKey.productNo}" class="error"></span>
                    </div>

                    <div class="form-group">
                        <label>商品單價:</label>
                        <input type="text" th:field="*{productPrice}" onclick="hideContent('productPrice.errors');" />
                        <span th:if="${#fields.hasErrors('productPrice')}" th:errors="*{productPrice}" class="error"></span>
                    </div>

                    <div class="form-group">
                        <label>購買數量:</label>
                        <input type="text" th:field="*{productOrdQty}" onclick="hideContent('productOrdQty.errors');" />
                        <span th:if="${#fields.hasErrors('productOrdQty')}" th:errors="*{productOrdQty}" class="error"></span>
                    </div>

                    <div class="form-group">
                        <label>訂單實付金額:</label>
                        <input type="text" th:field="*{productRealPrice}" onclick="hideContent('productRealPrice.errors');" />
                        <span th:if="${#fields.hasErrors('productRealPrice')}" th:errors="*{productRealPrice}" class="error"></span>
                    </div>

                    <div class="form-group">
                        <label>評價內容:</label>
                        <input type="text" th:field="*{productComContent}" onclick="hideContent('productComContent.errors');" />
                        <span th:if="${#fields.hasErrors('productComContent')}" th:errors="*{productComContent}" class="error"></span>
                    </div>

                    <div class="form-group">
                        <label>評價星等:</label>
                        <select th:field="*{productScore}">
                            <option th:value="1">一顆星</option>
                            <option th:value="2">兩顆星</option>
                            <option th:value="3">三顆星</option>
                            <option th:value="4">四顆星</option>
                            <option th:value="5">五顆星</option>
                        </select>
                        <span th:if="${#fields.hasErrors('productScore')}" th:errors="*{productScore}" class="error"></span>
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" class="btn">送出新增</button>
                    </div>
                </form>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="backend/component/bottom :: bottom"></footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="backend/component/scrolltotop :: scrolltotop"></a>
<!-- Logout Modal-->
<div th:replace="backend/component/logout :: logout"></div>

<th:block th:insert="~{backend/component/plugin/backendplugin.html :: js}"></th:block>
<!--<script>-->
<!--    window.onload = function() {-->
<!--        updatePriceInstantly(); // 确保在页面加载时执行一次-->
<!--        document.getElementById('coupNo').onchange = updatePriceInstantly;-->
<!--        document.getElementById('productAllPrice').onchange = updatePriceInstantly;-->
<!--    };-->

<!--    function updatePriceInstantly() {-->
<!--        var selectedcoupNo = document.getElementById('coupNo').value;-->
<!--        var productAllPrice = document.getElementById('productAllPrice').value;-->

<!--        var xhr = new XMLHttpRequest();-->
<!--        var params = 'coupNo=' + encodeURIComponent(selectedcoupNo) + '&productAllPrice=' + encodeURIComponent(productAllPrice);-->
<!--        xhr.open('POST', '/backend/productorder/coupNoInstantly', true);-->
<!--        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');-->

<!--        xhr.onload = function () {-->
<!--            if (xhr.status === 200) {-->
<!--                var productOrderData = JSON.parse(xhr.responseText);-->

<!--                // 更新页面上的产品折扣和实际价格-->
<!--                document.getElementById('productDisc').value = productOrderData.productDisc;-->
<!--                document.getElementById('productRealPrice').value = productOrderData.productRealPrice;-->
<!--            } else {-->
<!--                console.error('获取产品订单详情失败');-->
<!--            }-->
<!--        };-->

<!--        xhr.send(params);-->
<!--    }-->
<!--</script>-->

</body>




</html>