<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>訂單詳情資料</title>
    <style type="text/css">
        span {
            display: inline-block;
            width: 150px;
            text-align: left;
            font-weight: bold;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
    <div align="center">
        <h2>商品訂單資料</h2>
        <h3>
            <a class="navbar-brand" th:href="@{/backend/productorderdetail/selectProductOrderDetail}">
                <img th:src="@{/images/back1.gif}">回查詢頁<label th:text="${success}"></label>
            </a>
        </h3>
    </div>
</nav>
<div align="center" th:fragment="listOneEmp-div">
    <h3><span>查詢結果 :</span></h3>
    <span>商品訂單編號:</span><span th:text="${productOrderDetail.compositeKey.productOrdNo}"></span><br/>
    <span>商品編號:</span><span th:text="${productOrderDetail.compositeKey.productNo}"></span><br/>
    <span>商品單價:</span><span th:text="${productOrderDetail.productPrice}"></span><br/>
    <span>購買數量:</span><span th:text="${productOrderDetail.productOrdQty}"></span><br/>
    <span>訂單實付金額:</span><span th:text="${productOrderDetail.productRealPrice}"></span><br/>
    <span>評價內容:</span><span th:text="${productOrderDetail.productComContent}"></span><br/>
    <span>評價星等:</span><span th:text="${productOrderDetail.productScore}"></span><br/>
    <form method="post" th:action="@{/productorderdetail/getOne_For_Update}" style="margin-bottom: 0px;">
        <input type="submit" value="修改">
        <input type="hidden" name="productOrdNo" th:value="${productOrderDetail.compositeKey.productOrdNo}">
        <input type="hidden" name="productNo" th:value="${productOrderDetail.compositeKey.productNo}">
    </form>
</div>
</body>
</html>

