<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/frontend/navForMemCenter/navForMemCenter.css}" />
</head>

<body>
    <div class="div_header" th:fragment="nav">
        <header class="header">
            <div class="logo">
                <img th:src="@{/icons/frontend/member/memberCenter.png}">
                 <span>會員中心</span>
            </div>
            <nav class="navbar navbar-inverse">
                <ul class="nav navbar-nav">
                    <li><a class="hoverable" th:href="@{/}">首頁</a></li>
<!--                     <li><a class="hoverable" href="#">最新消息</a></li> -->
                    <li><a class="hoverable" th:href="@{/rent/listAllRent}">租賃服務</a></li>
                    <li><a class="hoverable" th:href="@{/frontend/member/memberCenter}">會員中心</a></li>
                </ul>
            </nav>
            <div class="user-info">
				<th:block th:if="${session.loginsuccess}">
                	<span th:text="${session.loginsuccess.memName}"></span>
                	<input type="hidden" id="userId" th:value="${session.loginsuccess.memNo}"></span>
                	<img th:src="@{/frontend/member/picture} + '?memno=' + ${session.loginsuccess.memNo}" style="margin-right:5px;"width="30px" height="30px">
<!--                	<img id="message" th:src="@{/icon/frontend/member/newMessage.png}" width="30px" height="30px">-->
                	<a th:href="@{/frontend/member/logoutMember}"><button type="button">登出</button></a>
                </th:block>
                <th:block th:unless="${session.loginsuccess}">
                	<a th:href="@{/frontend/member/loginMember}"><button type="button">登入</button></a>
                </th:block>
            </div>
        </header>

<!--        <aside class="aside">-->
<!--        	<div id="memArea"></div>-->
<!--            <nav class="nav">-->
<!--                <ul class="nav_list">-->
                    <!-- 一般會員 -->
<!--                    <li><div id="memBlock" class="notice-board"><img th:src="@{/icon/FrontEnd/memCenter/memData.png}" width=25px><span>會員功能</span></div></li>-->
<!--                -->
<!--                    <li class="memBlock"><a th:href="@{/mem/memData}"><button type="button" class="memFunction">會員詳細資料</button></a></li>-->
<!--                    <li class="memBlock"><a th:href="@{/apo/listAllApo}"><button type="button" class="memFunction">我的預約</button></a></li>-->
<!--                    <li class="memBlock"><a th:href="@{/lse/listAllLse}"><button type="button" class="memFunction">我的合約</button></a></li>-->
<!--                    <li class="memBlock">-->
<!--	                    <div class="subBoard"><span>成為房東</span><br>-->
<!--	               			<a th:href="${session.ldd} ? null : @{/lddApp/addLddApp}">-->
<!--		               			<button type="button" class="memFunction" th:disabled="${session.ldd}" -->
<!--			               			th:classappend="${session.ldd} ? 'disabled-button' : ''" >填寫申請單-->
<!--		               			</button>-->
<!--	               			</a>-->
<!--	                   		<a th:href="@{/lddApp/listAllLddApp}"><button type="button" class="memFunction">查詢/編輯</button></a>     -->
<!--                   		</div>          -->
<!--                    </li>-->
<!--                    <li class="memBlock">-->
<!--                    	<div class="subBoard"><span>檢舉投訴</span><br>-->
<!--                    	<a th:href="@{/report/addReport}"><button type="button" class="memFunction">填寫投訴單</button></a>-->
<!--                    	<a th:href="@{/report/findAllReportById}"><button type="button" class="memFunction">查詢/編輯</button></a>-->
<!--                    	</div>-->
<!--                    </li>-->
<!--					-->
<!--                    &lt;!&ndash; 房東功能 &ndash;&gt;-->
<!--                    <th:block th:if="${session.ldd}">-->
<!--                    	<li><div id="lddBlock" class="notice-board"><img th:src="@{/icon/FrontEnd/memCenter/rent.png}" width=25px><span>房東管理</span></div></li>-->
<!--                    	<li class="lddBlock"><div class="subBoard"><span>申請物件</span><br>-->
<!--	                        <a th:href="@{/rentApp/addRentApp}"><button type="button" class="lddFunction">填寫申請單</button></a>-->
<!--	                       	<a th:href="@{/rentApp/listAllRentAppByLdd}"><button type="button" class="lddFunction">查詢/編輯</button></a>-->
<!--                        </div></li>-->
<!--                        <li class="lddBlock"><a th:href="@{/ldd/rentManagement}"><button type="button" class="lddFunction">我的物件</button></a></li>-->
<!--                        <li class="lddBlock"><a th:href="@{/apo/reviewApo}"><button type="button" class="lddFunction">預約/租屋管理</button></a></li>-->
<!--                        <li class="lddBlock"><a th:href="@{/lse/reviewLse}"><button type="button" class="lddFunction">合約管理</button></a></li>-->
<!--                    </th:block>-->
                 
<!--                </ul>-->
<!--            </nav>-->
<!--        </aside>-->
    </div>

</body>

</html>