<!-- Profile Menu -->
<div class="col-lg-4 pb-4 pb-lg-0 col-xxl-3 pe-xxl-5">
    <div class="bg-body border border-bottom-0 shadow-lg">
        <div class="d-flex p-3 align-items-center">
            <div class="avatar avatar-lg rounded-circle">
                <img th:src="@{/frontend/member/picture(memno=${session.loginsuccess.getMemNo()})}"
                     style="width: 80px; height: 80px; border: 1px solid #ccc;"
                     alt="會員大頭貼"
                     th:if="${session.loginsuccess}"></div>
            <div class="col ps-3">
                <h6 class="m-0"><a th:href="@{newMemberName}" style="color: #6c757d;"><th th:text="${session.loginsuccess.getMemName()}" readonly></a></h6>
                <small>
                    <a th:href="@{newMemberMail}"><th th:text="${session.loginsuccess.getMemMail()}" readonly></th></a>
                </small>
            </div>
        </div>
        <div class="bg-gray-200 p-3 border-bottom border-top">
            <h6 class="m-0">Dashboard</h6>
        </div>
        <ul class="list-unstyled mb-0 theme-link">
            <li class="border-bottom mb-0"><a
                    class="nav-link-style d-flex align-items-center p-3"
                    href="account-order.html"><i class="bi bi-bag me-2"></i> Order
                <div class="ms-auto badge-pill badge bg-secondary">5</div>
            </a></li>
            <li class="border-bottom mb-0"><a
                    class="nav-link-style d-flex align-items-center p-3"
                    href="account-wishlist.html"><i class="fi-heart me-2"></i>Wishlist
                <div class="ms-auto badge-pill badge bg-secondary">5</div>
            </a></li>
            <li class="border-bottom mb-0"><a
                    class="nav-link-style d-flex align-items-center p-3"
                    href="account-tickets.html"><i class="bi bi-bookmark me-2"></i>Support
                Tickets
                <div class="ms-auto badge-pill badge bg-secondary">0</div>
            </a></li>
        </ul>
        <div class="bg-gray-200 p-3 border-bottom">
            <h6 class="m-0">Account settings</h6>
        </div>
        <ul class="list-unstyled mb-0 theme-link">
            <li class="border-bottom mb-0"><a
                    class="nav-link-style d-flex align-items-center active p-3"
                    th:href="@{memberData}"><i class="fi-user me-2"></i>Profile info</a>
            </li>
            <li class="border-bottom mb-0"><a
                    class="nav-link-style d-flex align-items-center active p-3"
                    th:href="@{updateData}"><i class="fi-user me-2"></i>Update Profile info</a>
            </li>
            <li class="border-bottom mb-0"><a
                    class="nav-link-style d-flex align-items-center p-3"
                    th:href="@{newPassword}"><i class="bi bi-key me-2"></i></i>Password</a>
            </li>
            <li class="border-bottom mb-0"><a
                    class="nav-link-style d-flex align-items-center p-3"
                    th:href="@{newMemberAddress}"><i class="bi bi-map-fill me-2"></i>Addresses</a>
            </li>
            <li class="border-bottom mb-0"><a
                    class="nav-link-style d-flex align-items-center p-3"
                    href="account-payment.html"><i
                    class="bi bi-credit-card me-2"></i>Payment</a></li>
            <li class="border-bottom mb-0"><a
                    class="nav-link-style d-flex align-items-center p-3" th:href="@{/frontend/member/logoutMember}"><i
                    class="bi bi-box-arrow-left me-2"></i>Logout</a>
            </li>
        </ul>
    </div>
</div><!-- End Profile Menu --><!-- Content -->