<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Results</title>
    <th:block th:include="~{frontend/component/plugin/frontendplugin.html :: css}"></th:block>
</head>
<body>
<!-- 通用插件 -->
<th:block th:replace="frontend/component/plugin/frontendplugin :: components"></th:block>
<!-- 通用插件 -->
<!--
========================
    Wrapper
========================
-->
<div class="wrapper">
    <!-- header height -->
    <div class="header-height-bar" style="min-height: 144.865px;"></div>
    <!-- Header -->
    <header th:replace="frontend/component/header :: header"></header>
    <!-- End Header -->
    <!-- Main -->
    <main>
        <div class="container mt-5">
            <h2>搜尋結果</h2>
            <!-- Tabs -->
            <div th:if="${productResults.size() > 0 || rentalResults.size() > 0}" class="tabs-container">
                <ul class="nav nav-tabs" id="resultTabs" role="tablist">
                    <li id="product-search-tab" th:if="${productResults.size() > 0}" class="nav-item">
                        <a class="nav-link active" id="product-anchor-tab" data-bs-toggle="tab" href="#product-results" role="tab" aria-controls="product-results" aria-selected="true">商品</a>
                    </li>
                    <li id="rental-search-tab" th:if="${rentalResults.size() > 0}" class="nav-item">
                        <a class="nav-link" id="rental-anchor-tab" data-bs-toggle="tab" href="#rental-results" role="tab" aria-controls="rental-results" aria-selected="false">租借品</a>
                    </li>
                </ul>
                <div class="tab-content" id="resultTabContent">
                    <div th:if="${productResults.size() > 0}" class="tab-pane fade active show" id="product-results" role="tabpanel" aria-labelledby="product-anchor-tab">
                        <!-- 商品區域 -->
                        <div th:if="${productResults.size() > 0}">
                            <h3>商品</h3>
                            <div th:each="product : ${productResults}">
                                <a th:href="@{/frontend/product/oneProduct(productNo=${product.productNo})}" class="d-block mb-2">
                                    <h4 th:text="${'商品類別編號: ' + product.productCategory.productCatNo + ' , 商品類別名稱: ' + product.productCategory.productCatName}">Product Name</h4>
                                    <p th:text="${'商品名稱: ' + product.productName + ' , 商品資訊: ' + product.productInfo}">Product Info</p>
                                </a>
                            </div>
                            <nav th:if="${productPage.totalPages > 1}">
                                <ul class="pagination">
                                    <li th:classappend="${productPage.hasPrevious()} ? '' : 'disabled'" class="page-item">
                                        <a th:href="@{'/frontend/searchMore?searchQuery=' + ${searchQuery} + '&productPage=' + (${productPage.number - 1}) + '&rentalPage=' + ${rentalPage.number} + '&size=' + ${productPage.size}}" class="page-link">Previous</a>
                                    </li>
                                    <li th:each="pageNum : ${#numbers.sequence(0, productPage.totalPages - 1)}" th:classappend="${pageNum == productPage.number} ? 'active' : ''" class="page-item">
                                        <a th:href="@{'/frontend/searchMore?searchQuery=' + ${searchQuery} + '&productPage=' + ${pageNum} + '&rentalPage=' + ${rentalPage.number} + '&size=' + ${productPage.size}}" class="page-link" th:text="${pageNum + 1}"></a>
                                    </li>
                                    <li th:classappend="${productPage.hasNext()} ? '' : 'disabled'" class="page-item">
                                        <a th:href="@{'/frontend/searchMore?searchQuery=' + ${searchQuery} + '&productPage=' + (${productPage.number + 1}) + '&rentalPage=' + ${rentalPage.number} + '&size=' + ${productPage.size}}" class="page-link">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div th:if="${productResults.size() == 0}">
                            <p>沒有找到商品</p>
                        </div>
                    </div>
                    <div th:if="${rentalResults.size() > 0}" class="tab-pane fade" id="rental-results" role="tabpanel" aria-labelledby="rental-anchor-tab">
                        <!-- 租借品區域 -->
                        <div th:if="${rentalResults.size() > 0}">
                            <h3>租借品</h3>
                            <div th:each="rental : ${rentalResults}">
                                <a th:href="@{/frontend/rental/Rental(rentalNo=${rental.rentalNo})}" class="d-block mb-2">
                                    <h4 th:text="${'租借品類別編號: ' + rental.rentalCategory.rentalCatNo + ' , 租借品類別名稱: ' + rental.rentalCategory.rentalCatName}">Rental Name</h4>
                                    <p th:text="${'租借品名稱: ' + rental.rentalName + ' , 租借品資訊: ' + rental.rentalInfo}">Rental Info</p>
                                </a>
                            </div>
                            <nav th:if="${rentalPage.totalPages > 1}">
                                <ul class="pagination">
                                    <li th:classappend="${rentalPage.hasPrevious()} ? '' : 'disabled'" class="page-item">
                                        <a th:href="@{'/frontend/searchMore?searchQuery=' + ${searchQuery} + '&productPage=' + ${productPage.number} + '&rentalPage=' + (${rentalPage.number - 1}) + '&size=' + ${rentalPage.size}}" class="page-link">Previous</a>
                                    </li>
                                    <li th:each="pageNum : ${#numbers.sequence(0, rentalPage.totalPages - 1)}" th:classappend="${pageNum == rentalPage.number} ? 'active' : ''" class="page-item">
                                        <a th:href="@{'/frontend/searchMore?searchQuery=' + ${searchQuery} + '&productPage=' + ${productPage.number} + '&rentalPage=' + ${pageNum} + '&size=' + ${rentalPage.size}}" class="page-link" th:text="${pageNum + 1}"></a>
                                    </li>
                                    <li th:classappend="${rentalPage.hasNext()} ? '' : 'disabled'" class="page-item">
                                        <a th:href="@{'/frontend/searchMore?searchQuery=' + ${searchQuery} + '&productPage=' + ${productPage.number} + '&rentalPage=' + (${rentalPage.number + 1}) + '&size=' + ${rentalPage.size}}" class="page-link">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div th:if="${rentalResults.size() == 0}">
                            <p>沒有找到租借品</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 無搜尋結果 -->
            <div th:if="${productResults.size() == 0 && rentalResults.size() == 0}" class="row">
                <div class="col-12">
                    <p>無搜尋結果</p>
                </div>
            </div>
        </div>
        <!-- End blog -->
        <!-- Privacy Policy -->
        <section th:replace="frontend/component/privacypolicy :: privacypolicy"></section>
        <!-- End Privacy Policy -->
    </main>
    <!-- End Main -->

    <!-- Footer -->
    <footer th:replace="frontend/component/footer :: footer"></footer>
    <!-- End Footer -->

</div>
<!--
========================
   End Wrapper
========================
-->
<!-- script start -->
<th:block th:insert="~{frontend/component/plugin/frontendplugin.html :: js}"></th:block>
<!-- End script start -->

</body>
</html>
