



<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>index.html - Spring Boot - Maven - Spring MVC - Thymeleaf Demo</title>

	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/index.css}"/>

	<link rel="stylesheet" th:href="@{/out-statics/out-css/style.css}"/>
	<script th:src="@{/out-statics/out-js/app4.js}"/></script>
</head>
<body>



	<h3><a th:href="@{/productorder/select_page}" style="text-decoration:underline;color: black;">Click here to Spring MVC + Thymeleaf Project</a></h3>


</body>
</html>