<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{backend/component/plugin/backendplugin.html :: css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員通知清單</title>
    <!-- Custom styles for this page -->
    <link th:href="@{/backend/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet"/>

</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="backend/component/sidebar :: sidebar"></ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav th:replace="backend/component/nav :: nav"></nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div th:replace="backend/component/breadcrumb :: breadcrumb"></div>
                <!-- 內容請填這裡~~~~~~~~~~~~~~~ -->
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">單筆會員通知資料:</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>會員通知編號</th>
                                    <th>會員編號</th>
                                    <th>通知內容</th>
                                    <th>發送時間</th>
                                    <th>讀取狀態</th>
                                </tr>
                                </thead>
                                <tbody>
                                <div th:fragment="listOneNotice">
                                    <th:block th:each="notice : ${noticeList}">
                                        <tr>
                                            <td th:text="${notice.motNo}"></td>
                                            <td th:text="${notice.member.memNo}"></td>
                                            <td th:text="${notice.notContent}"></td>
                                            <td th:text="${notice.notTime}"></td>
                                            <td th:text="${notice.notStat == 0 ? '未讀' : '已讀'}"></td>
                                        </tr>
<!--                                        <tr>-->
<!--                                            <th>會員通知編號 : </th>-->
<!--                                            <td th:text="${notice.motNo}"></td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <th>會員編號 : </th>-->
<!--                                            <td th:text="${notice.member.memNo}"></td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <th>通知內容 : </th>-->
<!--                                            <td th:text="${notice.notContent}"></td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <th>發送時間 : </th>-->
<!--                                            <td th:text="${notice.notTime}"></td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <th>讀取狀態</th>-->
<!--                                            <td th:text="${notice.notStat == 0 ? '未讀' : '已讀'}"></td>-->
<!--                                        </tr>-->
<!--                                        <br>-->
<!--                                        <tr>-->
<!--                                            <form method="post" th:action="@{updateNotice}">-->
<!--                                                <input type="hidden" name="motNo" th:value="${notice.motNo}">-->
<!--                                                <input type="hidden" name="memNo" th:value="${notice.member.memNo}">-->
<!--                                                <button type="submit">-->
<!--                                                    <i class="far fa-edit"></i>-->
<!--                                                </button>-->
<!--                                            </form>-->
<!--                                        </tr>-->
                                    </th:block>
                                </div>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="backend/component/bottom :: bottom"></footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="backend/component/scrolltotop :: scrolltotop"></a>
<!-- Logout Modal-->
<div th:replace="backend/component/logout :: logout"></div>

<th:block th:insert="~{backend/component/plugin/backendplugin.html :: js}"></th:block>
<!-- Page level plugins -->
<script th:src="@{/backend/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/backend/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
<!-- Page level custom scripts -->
<script th:src="@{/backend/js/demo/datatables-demo.js}"></script>

</body>
</html>