








<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>商品訂單資料新增 </title>


    <style type="text/css">

        button {
            padding: 5px;
        }
        form {
            display: table;
        }
        form div {
            display: table-row;
        }
        label, input, span, select {
            display: table-cell;
            margin: 5px;
            text-align: left;
        }
        input[type=text], input[type=password], select, textarea {
            width: 200px;
            margin: 5px;
        }
        form div div {
            display: table-cell;
        }
        .center {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
    <div align="center"> <h2>商品訂單資料新增 - addProductorder.html</h2>
        <h3><a class="navbar-brand" th:href="@{/productorder/select_page}"><img th:src="@{/images/back1.gif}">回查詢頁</a></h3></div>
</nav>

<div align="center">
    <h3><b>所有欄位皆為必填欄位</b></h3>
    <form th:action="@{insert}" method="post" th:object="${productOrder}" >

        <div>
            <label>會員編號:</label>
            <input type="text" th:field="*{member.memNo}"  onclick="hideContent('member.memNo.errors');"><br/>
        </div>

        <div>
            <label>訂購人姓名:</label>
            <input type="text" th:field="*{productByrName}" onclick="hideContent('productByrName.errors');" /><br/>
            <span  th:if="${#fields.hasErrors('productByrName')}" th:errors="*{productByrName}" class="error" id="productByrName.errors"></span>
        </div>

        <div>
            <label>訂購人手機號碼:</label>
            <input type="text" th:field="*{productByrPhone}" onclick="hideContent('productByrPhone.errors');" /><br/>
            <span  th:if="${#fields.hasErrors('productByrPhone')}" th:errors="*{productByrPhone}" class="error" id="productByrPhone.errors"></span>
        </div>

        <div>
            <label>訂購人Email:</label>
            <input type="email" th:field="*{productByrEmail}" onclick="hideContent('productByrEmail.errors');" /><br/>
            <span  th:if="${#fields.hasErrors('productByrEmail')}" th:errors="*{productByrEmail}" class="error" id="productByrEmail.errors"></span>
        </div>
        <div>
            <label>收件人姓名:</label>
            <input type="text" th:field="*{productRcvName}" onclick="hideContent('productRcvName.errors');" /><br/>
            <span th:if="${#fields.hasErrors('productRcvName')}" th:errors="*{productRcvName}" class="error" id="productRcvName.errors"></span>
        </div>
        <div>
            <label>收件人手機號碼:</label>
            <input type="text" th:field="*{productRcvPhone}" onclick="hideContent('productRcvPhone.errors');" /><br/>
            <span th:if="${#fields.hasErrors('productRcvPhone')}" th:errors="*{productRcvPhone}" class="error" id="productRcvPhone.errors"></span>
        </div>
        <div>
            <label>取貨方式:</label>
            <select th:field="*{productTakeMethod}">
                <option th:value="1" th:text="店取" />
                <option th:value="2" th:text="宅配" />
                <option th:value="3" th:text="超商取貨" />
            </select><br/>
        </div>
        <div>
            <label>宅配住址:</label>
            <input type="text" th:field="*{productAddr}" onclick="hideContent('productAddr.errors');" /><br/>
            <span th:if="${#fields.hasErrors('productAddr')}" th:errors="*{productAddr}" class="error" id="productAddr.errors"></span>
        </div>
        <div>
            <label>付款方式:</label>
            <select th:field="*{productPayMethod}">
                <option th:value="1" th:text="綠界" />
                <option th:value="2" th:text="現場付款" />
            </select><br/>
        </div>
        <div>
            <label>訂單總金額:</label>
            <input type="text" th:field="*{productAllPrice}" onclick="hideContent('productAllPrice.errors');" /><br/>
            <span th:if="${#fields.hasErrors('productAllPrice')}" th:errors="*{productAllPrice}" class="error" id="productAllPrice.errors"></span>
        </div>
        <div>
            <label>優惠券編號:</label>
            <input type="text" th:field="*{coupon.coupNo}" onclick="hideContent('coupon.coupNo.errors');"  /><br/>
            <span th:if="${#fields.hasErrors('coupon.coupNo')}" th:errors="*{coupon.coupNo}" class="error" id="coupon.coupNo.errors"></span>
        </div>

        <div>
            <label>優惠券折價總和:</label>
            <input type="text" th:field="*{productDisc}" onclick="hideContent('productDisc.errors');" /><br/>
            <span th:if="${#fields.hasErrors('productDisc')}" th:errors="*{productDisc}" class="error" id="productDisc.errors"></span>
        </div>
        <div>
            <label>訂單實付金額:</label>
            <input type="text" th:field="*{productRealPrice}" onclick="hideContent('productRealPrice.errors');" /><br/>
            <span th:if="${#fields.hasErrors('productRealPrice')}" th:errors="*{productRealPrice}" class="error" id="productRealPrice.errors"></span>
        </div>
        <div>
            <label>下單時間:</label>
            <input type="text" th:field="*{productOrdTime}" onclick="hideContent('productOrdTime.errors');" /><br/>
            <span th:if="${#fields.hasErrors('productOrdTime')}" th:errors="*{productOrdTime}" class="error" id="productOrdTime.errors"></span>
        </div>
        <div>
            <label>訂單狀態:</label>
            <select th:field="*{productOrdStat}">
                <option th:value="0" th:text="訂單取消" />
                <option th:value="10" th:text="揀貨中" />
                <option th:value="20" th:text="配送中" />
                <option th:value="30" th:text="等待取貨" />
                <option th:value="40" th:text="訂單成立" />
                <option th:value="50" th:text="訂單完成" />
                <option th:value="81" th:text="申請換貨" />
                <option th:value="82" th:text="換貨中" />
                <option th:value="83" th:text="申請退貨退款" />
                <option th:value="84" th:text="退款中" />
            </select>

        </div>
        <div>
            <label>付款狀態:</label>
            <select th:field="*{productStat}">
                <option th:value="0" th:text="未付款" />
                <option th:value="1" th:text="已付款" />
            </select>
            <br/>
        </div>
        <div>
            <div></div>
            <div><button type="submit" id="submit"> 送出新增 </button></div>
            <div></div>
        </div>
    </form>

</div>


<!-- JavaScript part -->
<!--<script type="text/javascript">-->
<!--    //清除提示信息-->
<!--    function hideContent(d) {-->
<!--        document.getElementById(d).style.display = "none";-->
<!--    }-->

<!--    //照片上傳-預覽用-->
<!--    var filereader_support = typeof FileReader != 'undefined';-->
<!--    if (!filereader_support) {-->
<!--        alert("No FileReader support");-->
<!--    }-->
<!--    acceptedTypes = {-->
<!--        'image/png' : true,-->
<!--        'image/jpeg' : true,-->
<!--        'image/gif' : true-->
<!--    };-->
<!--    function previewImage() {-->
<!--        var upfile1 = document.getElementById("upFiles");-->
<!--        upfile1.addEventListener("change", function(event) {-->
<!--            var files = event.target.files || event.dataTransfer.files;-->
<!--            for (var i = 0; i < files.length; i++) {-->
<!--                previewfile(files[i])-->
<!--            }-->
<!--        }, false);-->
<!--    }-->
<!--    function previewfile(file) {-->
<!--        if (filereader_support === true && acceptedTypes[file.type] === true) {-->
<!--            var reader = new FileReader();-->
<!--            reader.onload = function(event) {-->
<!--                var image = new Image();-->
<!--                image.src = event.target.result;-->
<!--                image.width = 100;-->
<!--                image.height = 75;-->
<!--                image.border = 2;-->
<!--                if (blob_holder.hasChildNodes()) {-->
<!--                    blob_holder.removeChild(blob_holder.childNodes[0]);-->
<!--                }-->
<!--                blob_holder.appendChild(image);-->
<!--            };-->
<!--            reader.readAsDataURL(file);-->
<!--            document.getElementById('submit').disabled = false;-->
<!--        } else {-->
<!--            blob_holder.innerHTML = "<div  style='text-align: left;'>" + "● filename: " + file.name-->
<!--                + "<br>" + "● ContentTyp: " + file.type-->
<!--                + "<br>" + "● size: " + file.size + "bytes"-->
<!--                + "<br>" + "● 上傳ContentType限制: <b> <font color=red>image/png、image/jpeg、image/gif </font></b></div>";-->
<!--            document.getElementById('submit').disabled = true;-->
<!--        }-->
<!--    }-->
<!--</script>-->

</body>
</html>