


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品訂單資料新增</title>
    <th:block th:include="~{backend/component/plugin/backendplugin.html :: css}"></th:block>
    <style>
        .error {
            font-size: 12px; /* 調整字體大小 */
        }
    </style>
</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="backend/component/sidebar :: sidebar"></ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav th:replace="backend/component/nav :: nav"></nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div th:replace="backend/component/breadcrumb :: breadcrumb"></div>
                <!-- 內容請填這裡~~~~~~~~~~~~~~~ -->
                <form th:action="@{insert}" method="post" th:object="${productOrder}" >

                    <div class="mb-3 row">
                <label for="memNo" class="col-sm-2 col-form-label">會員編號</label>
                <div class="col-sm-3">
                    <select size="1" name="memNo" id="memNo" th:field="*{memNo}">
                        <option th:each="member : ${memberList}" th:value="${member.memNo}" th:text="${member.memNo} + ' : ' + ${member.memName}"></option>
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="productByrName" class="col-sm-2 col-form-label">訂購人姓名</label>
                <div class="col-sm-3">
                    <input type="text" th:field="*{productByrName}" class="form-control" name="productByrName" id="productByrName">
                    <span th:if="${#fields.hasErrors('productByrName')}" th:errors="*{productByrName}" class="error" id="productByrName.errors"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="productByrPhone" class="col-sm-2 col-form-label">訂購人手機號碼</label>
                <div class="col-sm-3">
                    <input type="text" th:field="*{productByrPhone}" class="form-control" name="productByrPhone" id="productByrPhone">
                    <span th:if="${#fields.hasErrors('productByrPhone')}" th:errors="*{productByrPhone}" class="error" id="productByrPhone.errors"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="productByrPhone" class="col-sm-2 col-form-label">訂購人Email</label>
                <div class="col-sm-3">
                    <input type="email" th:field="*{productByrEmail}" class="form-control" name="productByrEmail" id="productByrEmail">
                    <span th:if="${#fields.hasErrors('productByrEmail')}" th:errors="*{productByrEmail}" class="error" id="productByrEmail.errors"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="productRcvName" class="col-sm-2 col-form-label">收件人姓名</label>
                <div class="col-sm-3">
                    <input type="text" th:field="*{productRcvName}" class="form-control" name="productRcvName" id="productRcvName">
                    <span th:if="${#fields.hasErrors('productRcvName')}" th:errors="*{productRcvName}" class="error" id="productRcvName.errors"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="productRcvName" class="col-sm-2 col-form-label">收件人手機號碼</label>
                <div class="col-sm-3">
                    <input type="text" th:field="*{productRcvPhone}" class="form-control" name="productRcvPhone" id="productRcvPhone">
                    <span th:if="${#fields.hasErrors('productRcvPhone')}" th:errors="*{productRcvPhone}" class="error" id="productRcvPhone.errors"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="productTakeMethod" class="col-sm-2 col-form-label">取貨方式</label>
                <div class="col-sm-3">
                    <select size="1" name="productTakeMethod" id="productTakeMethod" th:field="*{productTakeMethod}">
                        <option th:value="1" th:text="店取" /></option>
                        <option th:value="2" th:text="宅配" /></option>
                        <option th:value="3" th:text="超商取貨" /></option>
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="productAddr" class="col-sm-2 col-form-label">宅配住址</label>
                <div class="col-sm-3">
                    <input type="text" th:field="*{productAddr}" class="form-control" name="productAddr" id="productAddr">
                    <span th:if="${#fields.hasErrors('productAddr')}" th:errors="*{productAddr}" class="error" id="productAddr.errors"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="productPayMethod" class="col-sm-2 col-form-label">付款方式</label>
                <div class="col-sm-3">
                    <select size="1" name="productPayMethod" id="productPayMethod" th:field="*{productPayMethod}">
                        <option th:value="1" th:text="線上刷卡" /></option>
                        <option th:value="2" th:text="超商繳款" /></option>
                        <option th:value="3" th:text="ATM付款" /></option>
                        <option th:value="4" th:text="匯款" /></option>
                        <option th:value="5" th:text="現場付款" /></option>
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="productAllPrice" class="col-sm-2 col-form-label">訂單總金額</label>
                <div class="col-sm-3">
                    <input type="text" th:field="*{productAllPrice}" class="form-control" name="productAllPrice" id="productAllPrice">
                    <span th:if="${#fields.hasErrors('productAllPrice')}" th:errors="*{productAllPrice}" class="error" id="productAllPrice.errors"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="coupNo" class="col-sm-2 col-form-label">優惠券編號</label>
                <div class="col-sm-3">
                    <input type="text" th:field="*{coupon.coupNo}" class="form-control" name="coupNo" id="coupNo">
                    <span th:if="${#fields.hasErrors('coupon.coupNo')}" th:errors="*{coupon.coupNo}" class="error" id="coupon.coupNo.errors"></span>
                </div>
            </div>
<!--            <div class="mb-3 row">-->
<!--                <label for="productDisc" class="col-sm-2 col-form-label">優惠券折價總和</label>-->
<!--                <div class="col-sm-3">-->
<!--                    <input type="text" th:field="*{productDisc}" class="form-control" name="productDisc" id="productDisc">-->
<!--                    <span th:if="${#fields.hasErrors('productDisc')}" th:errors="*{productDisc}" class="error" id="productDisc.errors"></span>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="mb-3 row">-->
<!--                <label for="productRealPrice" class="col-sm-2 col-form-label">訂單實付金額</label>-->
<!--                <div class="col-sm-3">-->
<!--                    <input type="text" th:field="*{productRealPrice}" class="form-control" name="productRealPrice" id="productRealPrice">-->
<!--                    <span th:if="${#fields.hasErrors('productRealPrice')}" th:errors="*{productRealPrice}" class="error" id="productRealPrice.errors"></span>-->
<!--                </div>-->
<!--            </div>-->
            <div class="mb-3 row">
                <label for="productOrdStat" class="col-sm-2 col-form-label">訂單狀態</label>
                <div class="col-sm-3">
                    <select size="1" name="productOrdStat" id="productOrdStat" th:field="*{productOrdStat}">
                        <option th:value="0" th:text="訂單取消" />
                        <option th:value="10" th:text="揀貨中" />
                        <option th:value="20" th:text="配送中" />
                        <option th:value="30" th:text="等待取貨" />
                        <option th:value="40" th:text="訂單成立" />
                        <option th:value="50" th:text="訂單完成" />
                        <option th:value="81" th:text="申請換貨" />
                        <option th:value="82" th:text="換貨中" />
                        <option th:value="83" th:text="申請退貨退款" />
                        <option th:value="84" th:text="退款中" />
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="productStat" class="col-sm-2 col-form-label">付款狀態</label>
                <div class="col-sm-3">
                    <select size="1" name="productStat" id="productStat" th:field="*{productStat}">
                        <option th:value="0" th:text="未付款" />
                        <option th:value="1" th:text="已付款" />
                    </select>
                </div>
            </div>
                    <div>
                        <div><button type="submit" id="submit"> 送出新增 </button></div>
                    </div>
                </form>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="backend/component/bottom :: bottom"></footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="backend/component/scrolltotop :: scrolltotop"></a>
<!-- Logout Modal-->
<div th:replace="backend/component/logout :: logout"></div>

<th:block th:insert="~{backend/component/plugin/backendplugin.html :: js}"></th:block>
<!--<script>-->
<!--    window.onload = function() {-->
<!--        updatePriceInstantly(); // 确保在页面加载时执行一次-->
<!--        document.getElementById('coupNo').onchange = updatePriceInstantly;-->
<!--        document.getElementById('productAllPrice').onchange = updatePriceInstantly;-->
<!--    };-->

<!--    function updatePriceInstantly() {-->
<!--        var selectedcoupNo = document.getElementById('coupNo').value;-->
<!--        var productAllPrice = document.getElementById('productAllPrice').value;-->

<!--        var xhr = new XMLHttpRequest();-->
<!--        var params = 'coupNo=' + encodeURIComponent(selectedcoupNo) + '&productAllPrice=' + encodeURIComponent(productAllPrice);-->
<!--        xhr.open('POST', '/backend/productorder/coupNoInstantly', true);-->
<!--        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');-->

<!--        xhr.onload = function () {-->
<!--            if (xhr.status === 200) {-->
<!--                var productOrderData = JSON.parse(xhr.responseText);-->

<!--                // 更新页面上的产品折扣和实际价格-->
<!--                document.getElementById('productDisc').value = productOrderData.productDisc;-->
<!--                document.getElementById('productRealPrice').value = productOrderData.productRealPrice;-->
<!--            } else {-->
<!--                console.error('获取产品订单详情失败');-->
<!--            }-->
<!--        };-->

<!--        xhr.send(params);-->
<!--    }-->
<!--</script>-->

</body>




</html>