<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>訂單資料修改</title>
    <th:block th:include="~{backend/component/plugin/backendplugin.html :: css}"></th:block>
    <style>
        .error {
            font-size: 12px; /* 調整字體大小 */
        }
        .btn-blue {
            font-size: 14px; /* 調整字體大小 */
            color: #ffffff; /* 白色字體 */
            background-color: #007bff; /* 按鈕背景藍色 */
            border: none;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        .btn-blue:hover {
            background-color: #0056b3; /* 深藍色，滑鼠懸停效果 */
        }
        .form-group {
            margin-bottom: 15px;
        }
        .form-label {
            font-weight: bold;
        }
    </style>
</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="backend/component/sidebar :: sidebar"></ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav th:replace="backend/component/nav :: nav"></nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div th:replace="backend/component/breadcrumb :: breadcrumb"></div>
                <!-- 內容請填這裡~~~~~~~~~~~~~~~ -->
                <form method="post" th:action="@{update}" th:object="${productOrder}">
                    <div class="form-group row">
                        <label for="productOrderSelect" class="col-sm-2 col-form-label form-label">商品訂單編號</label>
                        <div class="col-sm-3">
                            <select size="1" name="productOrdNo" id="productOrderSelect" th:field="*{productOrdNo}" th:onchange="|updateProductOrderInstantly()|">
                                <option th:each="productOrder : ${productorderListData}" th:value="${productOrder.productOrdNo}" th:text="${productOrder.productOrdNo}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="memNo" class="col-sm-2 col-form-label form-label">會員編號</label>
                        <div class="col-sm-3">
                            <input type="text" th:field="*{member.memNo}" class="form-control" name="memNo" id="memNo">
                            <span th:if="${#fields.hasErrors('memNo')}" th:errors="*{member.memNo}" class="error" id="memNo.errors"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="productByrName" class="col-sm-2 col-form-label form-label">訂購人姓名</label>
                        <div class="col-sm-3">
                            <input type="text" th:field="*{productByrName}" class="form-control" name="productByrName" id="productByrName">
                            <span th:if="${#fields.hasErrors('productByrName')}" th:errors="*{productByrName}" class="error" id="productByrName.errors"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="productByrPhone" class="col-sm-2 col-form-label form-label">訂購人手機號碼</label>
                        <div class="col-sm-3">
                            <input type="text" th:field="*{productByrPhone}" class="form-control" name="productByrPhone" id="productByrPhone">
                            <span th:if="${#fields.hasErrors('productByrPhone')}" th:errors="*{productByrPhone}" class="error" id="productByrPhone.errors"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="productByrEmail" class="col-sm-2 col-form-label form-label">訂購人Email</label>
                        <div class="col-sm-3">
                            <input type="email" th:field="*{productByrEmail}" class="form-control" name="productByrEmail" id="productByrEmail">
                            <span th:if="${#fields.hasErrors('productByrEmail')}" th:errors="*{productByrEmail}" class="error" id="productByrEmail.errors"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="productRcvName" class="col-sm-2 col-form-label form-label">收件人姓名</label>
                        <div class="col-sm-3">
                            <input type="text" th:field="*{productRcvName}" class="form-control" name="productRcvName" id="productRcvName">
                            <span th:if="${#fields.hasErrors('productRcvName')}" th:errors="*{productRcvName}" class="error" id="productRcvName.errors"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="productRcvPhone" class="col-sm-2 col-form-label form-label">收件人手機號碼</label>
                        <div class="col-sm-3">
                            <input type="text" th:field="*{productRcvPhone}" class="form-control" name="productRcvPhone" id="productRcvPhone">
                            <span th:if="${#fields.hasErrors('productRcvPhone')}" th:errors="*{productRcvPhone}" class="error" id="productRcvPhone.errors"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="productTakeMethod" class="col-sm-2 col-form-label form-label">取貨方式</label>
                        <div class="col-sm-3">
                            <select size="1" name="productTakeMethod" id="productTakeMethod" th:field="*{productTakeMethod}">
                                <option th:value="1" th:text="店取"></option>
                                <option th:value="2" th:text="宅配"></option>
                                <option th:value="3" th:text="超商取貨"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="productAddr" class="col-sm-2 col-form-label form-label">宅配住址</label>
                        <div class="col-sm-3">
                            <input type="text" th:field="*{productAddr}" class="form-control" name="productAddr" id="productAddr">
                            <span th:if="${#fields.hasErrors('productAddr')}" th:errors="*{productAddr}" class="error" id="productAddr.errors"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="productPayMethod" class="col-sm-2 col-form-label form-label">付款方式</label>
                        <div class="col-sm-3">
                            <select size="1" name="productPayMethod" id="productPayMethod" th:field="*{productPayMethod}">
                                <option th:value="1" th:text="線上刷卡"></option>
                                <option th:value="2" th:text="超商繳款"></option>
                                <option th:value="3" th:text="ATM付款"></option>
                                <option th:value="4" th:text="匯款"></option>
                                <option th:value="5" th:text="現場付款"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="productAllPrice" class="col-sm-2 col-form-label form-label">訂單總金額</label>
                        <div class="col-sm-3">
                            <input type="text" th:field="*{productAllPrice}" class="form-control" name="productAllPrice" id="productAllPrice" readonly>
                            <span th:if="${#fields.hasErrors('productAllPrice')}" th:errors="*{productAllPrice}" class="error" id="productAllPrice.errors"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="coupNo" class="col-sm-2 col-form-label form-label">優惠券編號</label>
                        <div class="col-sm-3">
                            <input type="text" th:field="*{coupon.coupNo}" class="form-control" name="coupon.coupNo" id="coupNo" th:onchange="|updatePriceInstantly()|">
                            <span th:if="${#fields.hasErrors('coupon.coupNo')}" th:errors="*{coupon.coupNo}" class="error" id="coupon.coupNo.errors"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="productDisc" class="col-sm-2 col-form-label form-label">優惠券折價總和</label>
                        <div class="col-sm-3">
                            <input type="text" th:field="*{productDisc}" class="form-control" name="productDisc" id="productDisc" readonly>
                            <span th:if="${#fields.hasErrors('productDisc')}" th:errors="*{productDisc}" class="error" id="productDisc.errors"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="productRealPrice" class="col-sm-2 col-form-label form-label">訂單實付金額</label>
                        <div class="col-sm-3">
                            <input type="text" th:field="*{productRealPrice}" class="form-control" name="productRealPrice" id="productRealPrice" readonly>
                            <span th:if="${#fields.hasErrors('productRealPrice')}" th:errors="*{productRealPrice}" class="error" id="productRealPrice.errors"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="productOrdTime" class="col-sm-2 col-form-label form-label">下單時間</label>
                        <div class="col-sm-3">
                            <input type="text" th:field="*{productOrdTime}" class="form-control" name="productOrdTime" id="productOrdTime" readonly>
                            <span th:if="${#fields.hasErrors('productOrdTime')}" th:errors="*{productOrdTime}" class="error" id="productOrdTime.errors"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="productOrdStat" class="col-sm-2 col-form-label form-label">訂單狀態</label>
                        <div class="col-sm-3">
                            <select size="1" name="productOrdStat" id="productOrdStat" th:field="*{productOrdStat}">
                                <option th:value="0" th:text="訂單取消"></option>
                                <option th:value="10" th:text="揀貨中"></option>
                                <option th:value="20" th:text="配送中"></option>
                                <option th:value="30" th:text="等待取貨"></option>
                                <option th:value="40" th:text="訂單成立"></option>
                                <option th:value="50" th:text="訂單完成"></option>
                                <option th:value="81" th:text="申請換貨"></option>
                                <option th:value="82" th:text="換貨中"></option>
                                <option th:value="83" th:text="申請退貨退款"></option>
                                <option th:value="84" th:text="退款中"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="productStat" class="col-sm-2 col-form-label form-label">付款狀態</label>
                        <div class="col-sm-3">
                            <select size="1" name="productStat" id="productStat" th:field="*{productStat}">
                                <option th:value="0" th:text="未付款"></option>
                                <option th:value="1" th:text="已付款"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-3">
                            <button type="submit" class="btn-blue">送出修改</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="backend/component/bottom :: bottom"></footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="backend/component/scrolltotop :: scrolltotop"></a>
<!-- Logout Modal-->
<div th:replace="backend/component/logout :: logout"></div>

<th:block th:insert="~{backend/component/plugin/backendplugin.html :: js}"></th:block>

<script th:inline="javascript">
    function updateProductOrderInstantly() {
        var selectedProductOrderNo = document.getElementById('productOrderSelect').value;

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/backend/productorder/getProductOrderInstantly?productOrdNo=' + encodeURIComponent(selectedProductOrderNo), true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function () {
            if (xhr.status === 200) {
                var productOrderDetails = JSON.parse(xhr.responseText);

                document.getElementById('memNo').value = productOrderDetails.memNo;
                document.getElementById('productByrName').value = productOrderDetails.productByrName;
                document.getElementById('productByrPhone').value = productOrderDetails.productByrPhone;
                document.getElementById('productByrEmail').value = productOrderDetails.productByrEmail;
                document.getElementById('productRcvName').value = productOrderDetails.productRcvName;
                document.getElementById('productRcvPhone').value = productOrderDetails.productRcvPhone;
                document.getElementById('productAddr').value = productOrderDetails.productAddr;
                document.getElementById('productAllPrice').value = productOrderDetails.productAllPrice;
                document.getElementById('coupNo').value = productOrderDetails.coupon.coupNo;
                document.getElementById('productDisc').value = productOrderDetails.productDisc;
                document.getElementById('productRealPrice').value = productOrderDetails.productRealPrice;
                document.getElementById('productOrdStat').value = productOrderDetails.productOrdStat;
                document.getElementById('productStat').value = productOrderDetails.productStat;

                var productOrdTimeDate = new Date(productOrderDetails.productOrdTime);
                var formattedProductOrdTime = productOrdTimeDate.getFullYear() + '-' +
                    ('0' + (productOrdTimeDate.getMonth() + 1)).slice(-2) + '-' +
                    ('0' + productOrdTimeDate.getDate()).slice(-2) + ' ' +
                    ('0' + productOrdTimeDate.getHours()).slice(-2) + ':' +
                    ('0' + productOrdTimeDate.getMinutes()).slice(-2) + ':' +
                    ('0' + productOrdTimeDate.getSeconds()).slice(-2);

                document.getElementById('productOrdTime').value = formattedProductOrdTime;
            } else {
                console.error('Failed to fetch productorder details');
            }
        };

        xhr.send();
    }

    function updatePriceInstantly() {
        var selectedcoupNo = document.getElementById('coupNo').value;
        var selectedProductOrderNo = document.getElementById('productOrderSelect').value;

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/backend/productorder/getcoupNoInstantly?coupNo=' + encodeURIComponent(selectedcoupNo) + '&productOrdNo=' + encodeURIComponent(selectedProductOrderNo)+ '&productOrdNo=' + encodeURIComponent(selectedProductOrderNo), true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

        xhr.onload = function () {
            if (xhr.status === 200) {
                var productOrdercoupNo = JSON.parse(xhr.responseText);

                document.getElementById('productDisc').value = productOrdercoupNo.productDisc;
                document.getElementById('productRealPrice').value = productOrdercoupNo.productRealPrice;

            } else {
                console.error('Failed to fetch productorder details');
            }
        };

        xhr.send();
    }
</script>

</body>
</html>
