<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>更新商品</title>
    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/logo/favicon.ico}">
    <th:block th:include="~{backend/component/plugin/backendplugin.html :: css}"></th:block>

</head>
<body id="page-top">
<div th:replace="backend/component/loading :: loading"></div>
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="backend/component/sidebar :: sidebar"></ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav th:replace="backend/component/nav :: nav"></nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div th:replace="backend/component/breadcrumb :: breadcrumb"></div>
                <!-- 內容請填這裡~~~~~~~~~~~~~~~ -->
                <form method="post" th:action="@{/backend/productcategory/updateProductCategory/update}" th:object="${productCategory}">
                    <div class="mb-3 row">
                        <label for="productCatNo" class="col-sm-2 col-form-label">商品類別編號</label>
                        <div class="col-sm-3">
                            <input type="text" th:field="*{productCatNo}" class="form-control" name="productName" id="productCatNo">
                            <span th:if="${#fields.hasErrors('productCatNo')}" th:errors="*{productCatNo}" class="error" id="productCatNo.errors"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="productCatName" class="col-sm-2 col-form-label">商品類別名稱</label>
                        <div class="col-sm-3">
                            <input type="text" th:field="*{productCatName}" class="form-control" name="productCatName" id="productCatName">
                            <span th:if="${#fields.hasErrors('productCatName')}" th:errors="*{productCatName}" class="error" id="productCatName.errors"></span>
                        </div>
                    </div>
                    <div>
                        <div><button type="submit" id="submit"> 送出修改 </button></div>
                    </div>
                </form>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="backend/component/bottom :: bottom"></footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="backend/component/scrolltotop :: scrolltotop"></a>
<!-- Logout Modal-->
<div th:replace="backend/component/logout :: logout"></div>

<th:block th:insert="~{backend/component/plugin/backendplugin.html :: js}"></th:block>

<script th:inline="javascript">
    $(document).ready(function() {
        $('#productSelect').on('change', updateProductInstantly);
    });

    function updateProductInstantly() {
        console.log("即時更新觸發");
        var selectedProductNo = $('#productSelect').val();  // 使用 jQuery 獲取選中的商品編號

        $.ajax({
            url: '/backend/product/getProductInstantly?productNo=' + encodeURIComponent(selectedProductNo),
            type: 'POST',
            contentType: 'application/x-www-form-urlencoded',
            success: function(productDetails) {
                // 更新 DOM 元素的值
                $('#productCatNo').val(productDetails.productCategory.productCatNo);
                $('#productName').val(productDetails.productName);
                $('#productInfo').val(productDetails.productInfo);
                $('#productSize').val(productDetails.productSize);
                $('#productColor').val(productDetails.productColor);
                $('#productPrice').val(productDetails.productPrice);
                $('#productStat').val(productDetails.productStat);
                $('#productSalQty').val(productDetails.productSalQty);
                $('#productComPeople').val(productDetails.productComPeople);
                $('#productComScore').val(productDetails.productComScore);
            },
            error: function(xhr, status, error) {
                console.error('Failed to fetch product details: ' + error);
            }
        });
    }
</script>

</body>
</html>