<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>更新商品</title>
    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/logo/favicon.ico}">
    <th:block th:include="~{backend/component/plugin/backendplugin.html :: css}"></th:block>

</head>
<body id="page-top">
<div th:replace="backend/component/loading :: loading"></div>
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="backend/component/sidebar :: sidebar"></ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav th:replace="backend/component/nav :: nav"></nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div th:replace="backend/component/breadcrumb :: breadcrumb"></div>
                <!-- 內容請填這裡~~~~~~~~~~~~~~~ -->
                <form method="post" th:action="@{/backend/admauthority/updateAdmAuthority/update}" th:object="${admAuthority.compositeAdmAuthority}">
                    <div class="mb-3 row">
                        <label for="titleNo" class="col-sm-2 col-form-label">職位編號</label>
                        <div class="col-sm-3">
                            <select size="1" name="titleNo" id="titleNo" th:field="*{titleNo}">
                                <option th:each="title : ${titleList}" th:value="${title.titleNo}" th:text="${title.titleNo} + ' : ' + ${title.titleName}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="authFuncNo" class="col-sm-2 col-form-label">權限編號</label>
                        <div class="col-sm-3">
                            <select size="1" name="authFuncNo" id="authFuncNo" th:field="*{authFuncNo}">
                                <option th:each="authFunction : ${authFunctionList}" th:value="${authFunction.authFuncNo}" th:text="${authFunction.authFuncNo} + ' : ' + ${authFunction.authFuncInfo}"></option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <div><button type="submit" id="submit"> 送出修改 </button></div>
                    </div>
                </form>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="backend/component/bottom :: bottom"></footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="backend/component/scrolltotop :: scrolltotop"></a>
<!-- Logout Modal-->
<div th:replace="backend/component/logout :: logout"></div>

<th:block th:insert="~{backend/component/plugin/backendplugin.html :: js}"></th:block>

<script th:inline="javascript">

    function updateProductInstantly() {
        var selectedProductNo = document.getElementById('productSelect').value;

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/backend/product/getProductInstantly?productNo=' + encodeURIComponent(selectedProductNo), true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function () {
            if (xhr.status === 200) {
                var productDetails = JSON.parse(xhr.responseText);

                document.getElementById('productCatNo').value = productDetails.productCategory.productCatNo;
                document.getElementById('productName').value = productDetails.productName;
                document.getElementById('productInfo').value = productDetails.productInfo;
                document.getElementById('productSize').value = productDetails.productSize;
                document.getElementById('productColor').value = productDetails.productColor;
                document.getElementById('productPrice').value = productDetails.productPrice;
                document.getElementById('productStat').value = productDetails.productStat;
                document.getElementById('productSalQty').value = productDetails.productSalQty;
                document.getElementById('productComPeople').value = productDetails.productComPeople;
                document.getElementById('productComScore').value = productDetails.productComScore;
            } else {
                console.error('Failed to fetch product details');
            }
        };

        xhr.send();
    }
</script>

</body>
</html>