<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <th:block th:include="~{backend/component/plugin/backendplugin.html :: css}"></th:block>
        <!-- Custom styles for this page -->
        <style>
            *{
                font-size: 12px; /* 調整字體大小 */
            }
            .error {
                font-size: 12px; /* 調整字體大小 */
            }
        </style>
    </head>

    <body id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">
            <!-- Sidebar -->
            <ul th:replace="backend/component/sidebar :: sidebar"></ul>
            <!-- End of Sidebar -->
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Main Content -->
                <div id="content">
                    <!-- Topbar -->
                    <nav th:replace="backend/component/nav :: nav"></nav>
                    <!-- End of Topbar -->
                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        <div th:replace="backend/component/breadcrumb :: breadcrumb"></div>
                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">查詢租借品資料 (後端)</h6>
                            </div>
                            <div class="a">
                                <ul>
                                    <font color=blue>單一查詢:</font><br>
                                    <li><!-- th:action="@{/listOneRental}" 觸發submit 時，form action 導至 /listOneRental 路徑-->
                                        <form method="post" th:action="@{getOneDisplay}">
                                            選擇租借品編號:
                                            <select name="rentalNo">
                                                <option>請選擇</option>
                                                <option th:each="rental : ${rentalListData}" th:value="${rental.rentalNo}" th:text="${rental.rentalNo}" />
                                            </select>
                                            <input type="submit" value="送出">
                                        </form><br>
                                    </li>
                                    <li><!--th:action="@{/backend/rental/listOneRental}" 觸發submit 時，form action 導至/backend/rental/listOneRental路徑-->
                                        <form method="post" th:action="@{getOneDisplay}">
                                            選擇租借品名稱:
                                            <select name="rentalName">
                                                <option>請選擇</option>
                                                <option th:each="rental : ${rentalListData}" th:value="${rental.rentalNo}" th:text="${rental.rentalName}" />
                                            </select>
                                            <input type="submit" value="送出">
                                        </form><br>
                                    </li>
                                    <hr width="90%" size="7">
                                    <!--  萬用複合查詢(開始)  -->
                                    <font color=blue>萬用複合查詢:</font><br>
                                    <li>
                                        <!--th:action="@{/backend/rental/listOneRental}" 觸發submit 時，form action 導至/backend/rental/listOneRental路徑-->
                                        <form method="post" th:action="@{search}" th:object="${rental}">
                                            選擇租借品編號:
                                            <select name="rentalNo" th:field="*{rentalNo}">
                                                <option value="1">請選擇</option>
                                                <option th:each="rental : ${rentalListData}" th:value="${rental.rentalNo}" th:text="${rental.rentalNo}" />
                                            </select><br>
                                            選擇租借品名稱:
                                            <select name="rentalName" th:field="*{rentalName}">
                                                <option value="2">請選擇</option>
                                                <option th:each="rental : ${rentalListData}" th:value="${rental.rentalNo}" th:text="${rental.rentalName}" />
                                            </select><br>
                                            選擇租借品尺寸:
                                            <select name="rentalSize" th:field="*{rentalSize}">
                                                <option value="3">請選擇</option>
                                                <option value="0" th:selected="${rental.rentalSize == 0}">XS</option>
                                                <option value="1" th:selected="${rental.rentalSize == 1}">S</option>
                                                <option value="2" th:selected="${rental.rentalSize == 2}">M</option>
                                                <option value="3" th:selected="${rental.rentalSize == 3}">L</option>
                                                <option value="4" th:selected="${rental.rentalSize == 4}">XL</option>
                                                <option value="5" th:selected="${rental.rentalSize == 5}">2L</option>
                                            </select><br>
                                            選擇租借品顏色:
                                            <select name="rentalColor" th:field="*{rentalColor}">
                                                <option value="4">請選擇</option>
                                                <option th:each="rental : ${rentalListData}" th:value="${rental.rentalNo}" th:text="${rental.rentalColor}" />
                                            </select><br>
                                            選擇租借品狀態:
                                            <select name="rentalStat" th:field="*{rentalStat}">
                                                <option value="5">請選擇</option>
                                                <option value="0" th:selected="${rental.rentalStat == 0}">上架</option>
                                                <option value="1" th:selected="${rental.rentalStat == 1}">已預約</option>
                                                <option value="2" th:selected="${rental.rentalStat == 2}">已租借</option>
                                                <option value="3" th:selected="${rental.rentalStat == 3}">已歸還</option>
                                                <option value="4" th:selected="${rental.rentalStat == 4}">清潔整理中</option>
                                                <option value="5" th:selected="${rental.rentalStat == 5}">下架</option>
                                            </select><br>
                                            <input type="submit" value="送出"/>
                                        </form>
                                    </li>
                                </ul>
                                <li><a th:href="@{listAllRental}">查詢所有租借品</a><br><br></li>
                            </div>
                        </div>
                    <!-- /.container-fluid -->
                    </div>
                    <!-- End of Main Content -->

                    <!-- Footer -->
                    <footer th:replace="backend/component/bottom :: bottom"></footer>
                    <!-- End of Footer -->
                </div>
            <!-- End of Content Wrapper -->
            </div>
        <!-- End of Page Wrapper -->
        </div>
        <!-- Scroll to Top Button-->
        <a th:replace="backend/component/scrolltotop :: scrolltotop"></a>
        <!-- Logout Modal-->
        <div th:replace="backend/component/logout :: logout"></div>
        <th:block th:insert="~{backend/component/plugin/backendplugin.html :: js}"></th:block>
    </body>
</html>