<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>查詢租借品資料</title>
    <th:block th:include="~{backend/component/plugin/backendplugin.html :: css}"></th:block>
    <!-- Custom styles for this page -->
    <style>
        *{
            font-size: 12px; /* 調整字體大小 */
        }
    </style>
</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="backend/component/sidebar :: sidebar"></ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav th:replace="backend/component/nav :: nav"></nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div th:replace="backend/component/breadcrumb :: breadcrumb"></div>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">查詢租借品資料</h6>
                    </div>
                    <div class="a">
                        <div>
                            <br><font color=blue>&nbsp;&nbsp;&nbsp;&nbsp;單一查詢:</font><br>
                            <div>
                                <form method="post" th:action="@{getOneDisplay}">
                                    &nbsp;&nbsp;&nbsp;&nbsp;選擇租借品編號:
                                    <select id="rentalNo" name="rentalNo">
                                        <option>請選擇</option>
                                        <option th:each="rental : ${rentalListData}" th:value="${rental.rentalNo}" th:text="${rental.rentalNo} + '-[' + ${rental.rentalName} + ']'" />
                                    </select>
                                    <input type="submit" value="送出">
                                </form><br>
                            </div>
                            <hr width="90%" size="7">
                            <!--  萬用複合查詢(開始)  -->
<!--                            <div>-->
<!--                                <form method="get" th:action="@{search}" th:object="${rental}">-->
<!--                                    選擇租借品編號:-->
<!--                                    <select th:field="*{rentalNo}">-->
<!--                                        <option value="" selected>請選擇</option>-->
<!--                                        <option th:each="rental : ${rentalListData}" th:value="${rental.rentalNo}" th:text="${rental.rentalNo}" />-->
<!--                                    </select><br>-->

<!--                                    選擇租借品名稱:-->
<!--                                    <select th:field="*{rentalName}">-->
<!--                                        <option value="" selected>請選擇</option>-->
<!--                                        <option th:each="rental : ${rentalListData}" th:value="${rental.rentalName}" th:text="${rental.rentalName}" />-->
<!--                                    </select><br>-->

<!--                                    選擇租借品尺寸:-->
<!--                                    <select th:field="*{rentalSize}">-->
<!--                                        <option value="" selected>請選擇</option>-->
<!--                                        <option value="0">XS</option>-->
<!--                                        <option value="1">S</option>-->
<!--                                        <option value="2">M</option>-->
<!--                                        <option value="3">L</option>-->
<!--                                        <option value="4">XL</option>-->
<!--                                        <option value="5">2L</option>-->
<!--                                    </select><br>-->

<!--                                    選擇租借品顏色:-->
<!--                                    <select th:field="*{rentalColor}">-->
<!--                                        <option value="" selected>請選擇</option>-->
<!--                                        <option th:each="rental : ${rentalListData}" th:value="${rental.rentalColor}" th:text="${rental.rentalColor}" />-->
<!--                                    </select><br>-->

<!--                                    選擇租借品狀態:-->
<!--                                    <select th:field="*{rentalStat}">-->
<!--                                        <option value="" selected>請選擇</option>-->
<!--                                        <option value="0">上架</option>-->
<!--                                        <option value="1">已預約</option>-->
<!--                                        <option value="2">已租借</option>-->
<!--                                        <option value="3">已歸還</option>-->
<!--                                        <option value="4">清潔整理中</option>-->
<!--                                        <option value="5">下架</option>-->
<!--                                    </select><br>-->

<!--                                    <input type="submit" value="送出"/>-->
<!--                                </form>-->
<!--                            </div>-->

                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer th:replace="backend/component/bottom :: bottom"></footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
</div>
<!-- Scroll to Top Button-->
<a th:replace="backend/component/scrolltotop :: scrolltotop"></a>
<!-- Logout Modal-->
<div th:replace="backend/component/logout :: logout"></div>
<th:block th:insert="~{backend/component/plugin/backendplugin.html :: js}"></th:block>
</body>
</html>




<!--                            <font color=blue>萬用複合查詢:</font><br>-->
<!--                            <div>-->
<!--                                <form method="post" th:action="@{search}" th:object="${rental}">-->
<!--                                    選擇租借品編號:-->
<!--                                    <select name="rentalNo" th:field="*{rentalNo}">-->
<!--                                        <option value="1">請選擇</option>-->
<!--                                        <option th:each="rental : ${rentalListData}" th:value="${rental.rentalNo}" th:text="${rental.rentalNo}" />-->
<!--                                    </select><br>-->
<!--                                    選擇租借品名稱:-->
<!--                                    <select name="rentalName" th:field="*{rentalName}">-->
<!--                                        <option value="">請選擇</option>-->
<!--                                        <option th:each="rental : ${rentalListData}" th:value="${rental.rentalNo}" th:text="${rental.rentalName}" />-->
<!--                                    </select><br>-->
<!--                                    選擇租借品尺寸:-->
<!--                                    <select name="rentalSize" th:field="*{rentalSize}">-->
<!--                                        <option value="3">請選擇</option>-->
<!--                                        <option value="0">XS</option>-->
<!--                                        <option value="1">S</option>-->
<!--                                        <option value="2">M</option>-->
<!--                                        <option value="3">L</option>-->
<!--                                        <option value="4">XL</option>-->
<!--                                        <option value="5">2L</option>-->
<!--                                    </select><br>-->
<!--                                    選擇租借品顏色:-->
<!--                                    <select name="rentalColor" th:field="*{rentalColor}">-->
<!--                                        <option value="">請選擇</option>-->
<!--                                        <option th:each="rental : ${rentalListData}" th:value="${rental.rentalNo}" th:text="${rental.rentalColor}" />-->
<!--                                    </select><br>-->
<!--                                    選擇租借品狀態:-->
<!--                                    <select name="rentalStat" th:field="*{rentalStat}">-->
<!--                                        <option value="5">請選擇</option>-->
<!--                                        <option value="0">上架</option>-->
<!--                                        <option value="1">已預約</option>-->
<!--                                        <option value="2">已租借</option>-->
<!--                                        <option value="3">已歸還</option>-->
<!--                                        <option value="4">清潔整理中</option>-->
<!--                                        <option value="5">下架</option>-->
<!--                                    </select><br>-->
<!--                                    <input type="submit" value="送出"/>-->
<!--                                </form>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; /.container-fluid &ndash;&gt;-->
<!--            </div>-->
<!--            &lt;!&ndash; End of Main Content &ndash;&gt;-->

<!--            &lt;!&ndash; Footer &ndash;&gt;-->
<!--            <footer th:replace="backend/component/bottom :: bottom"></footer>-->
<!--            &lt;!&ndash; End of Footer &ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash; End of Content Wrapper &ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash; End of Page Wrapper &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; Scroll to Top Button&ndash;&gt;-->
<!--<a th:replace="backend/component/scrolltotop :: scrolltotop"></a>-->
<!--&lt;!&ndash; Logout Modal&ndash;&gt;-->
<!--<div th:replace="backend/component/logout :: logout"></div>-->
<!--<th:block th:insert="~{backend/component/plugin/backendplugin.html :: js}"></th:block>-->
<!--</body>-->
<!--</html>-->