<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>更新商品</title>
    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/logo/favicon.ico}">
    <th:block th:include="~{backend/component/plugin/backendplugin.html :: css}"></th:block>

</head>
<body id="page-top">
<div th:replace="backend/component/loading :: loading"></div>
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="backend/component/sidebar :: sidebar"></ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav th:replace="backend/component/nav :: nav"></nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div th:replace="backend/component/breadcrumb :: breadcrumb"></div>
                <!-- 內容請填這裡~~~~~~~~~~~~~~~ -->
                <form method="post" th:action="@{/backend/administrator/addAdministrator/add}" th:object="${administrator}" id="imageForm">
                    <div class="mb-3 row">
                        <label for="admNo" class="col-sm-2 col-form-label">管理員編號</label>
                        <div class="col-sm-3">
                            <select size="1" name="admNo" id="admNo" th:field="*{admNo}">
                                <option th:each="administrator : ${administratorList}" th:value="${administrator.admNo}" th:text="${administrator.admNo}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="admName" class="col-sm-2 col-form-label">管理員名稱</label>
                        <div class="col-sm-3">
                            <input type="text" th:field="*{admName}" class="form-control" name="admName" id="admName">
                            <span th:if="${#fields.hasErrors('admName')}" th:errors="*{admName}" class="error" id="admName.errors"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="admStat" class="col-sm-2 col-form-label">管理員狀態</label>
                        <div class="col-sm-3">
                            <select size="1" name="admStat" id="admStat" th:field="*{admStat}">
                                <option th:value="${0}" th:text="離職"></option>
                                <option th:value="${1}" th:text="在職"></option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="admEmail" class="col-sm-2 col-form-label">管理員Email</label>
                        <div class="col-sm-3">
                            <input type="text" th:field="*{admEmail}" class="form-control" name="admEmail" id="admEmail">
                            <span th:if="${#fields.hasErrors('admEmail')}" th:errors="*{admEmail}" class="error" id="admEmail.errors"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="titleNo" class="col-sm-2 col-form-label">職位編號</label>
                        <div class="col-sm-3">
                            <select size="1" name="titleNo" id="titleNo" th:field="*{title.titleNo}">
                                <option th:each="title : ${titleList}" th:value="${title.titleNo}" th:text="${title.titleNo} + ' : ' + ${title.titleName}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="admHireDate" class="col-sm-2 col-form-label">入職時間</label>
                        <div class="col-sm-3">
                            <input type="text" th:field="*{admHireDate}" class="form-control" name="admHireDate" id="admHireDate" placeholder="YYYY-MM-DD">
                            <span th:if="${#fields.hasErrors('admHireDate')}" th:errors="*{admHireDate}" class="error" id="admHireDate.errors"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="admPhoto" class="col-sm-2 col-form-label">管理員照片</label>
                        <div class="col-sm-3">
                            <input type="file" id="admPhoto" name="uploadImg" accept="image/*" style="display: none;">
                            <label class="btn btn-info" for="admPhoto">
                                <i class="fa fa-photo"></i> 上傳圖片
                            </label>
                            <span id="imageInfo"></span>
                        </div>
                        <img id="preview" style="display: none;">
                    </div>

                    <!-- 裁剪圖片的模態框 -->
                    <div class="modal fade" id="cropImageModal" tabindex="-1" role="dialog" aria-labelledby="cropImageModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="cropImageModalLabel">裁剪圖片</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="img-container">
                                        <div id="croppie-container"></div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                    <button type="button" class="btn btn-primary" id="crop">裁剪</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div>
                        <div>
                            <button type="submit" id="submit"> 送出修改 </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="backend/component/bottom :: bottom"></footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="backend/component/scrolltotop :: scrolltotop"></a>
<!-- Logout Modal-->
<div th:replace="backend/component/logout :: logout"></div>

<th:block th:insert="~{backend/component/plugin/backendplugin.html :: js}"></th:block>

<script th:inline="javascript">

    function updateAdministratorInstantly() {
        var selectedAdministratorNo = document.getElementById('administratorSelect').value;

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/backend/administrator/getAdministratorInstantly?administratorNo=' + encodeURIComponent(selectedAdministratorNo), true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function () {
            if (xhr.status === 200) {
                var administratorDetails = JSON.parse(xhr.responseText);

                document.getElementById('administratorCatNo').value = administratorDetails.administratorCategory.administratorCatNo;
                document.getElementById('administratorName').value = administratorDetails.administratorName;
                document.getElementById('administratorInfo').value = administratorDetails.administratorInfo;
                document.getElementById('administratorSize').value = administratorDetails.administratorSize;
                document.getElementById('administratorColor').value = administratorDetails.administratorColor;
                document.getElementById('administratorPrice').value = administratorDetails.administratorPrice;
                document.getElementById('administratorStat').value = administratorDetails.administratorStat;
                document.getElementById('administratorSalQty').value = administratorDetails.administratorSalQty;
                document.getElementById('administratorComPeople').value = administratorDetails.administratorComPeople;
                document.getElementById('administratorComScore').value = administratorDetails.administratorComScore;
            } else {
                console.error('Failed to fetch administrator details');
            }
        };

        xhr.send();
    }
</script>

</body>
</html>