<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新增專欄文章資料</title>
    <th:block th:include="~{backend/component/plugin/backendplugin.html :: css}"></th:block>
    <!-- Custom styles for this page -->
    <link th:href="@{/backend/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet"/>
</head>
<body id="page-top">
<main>
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul th:replace="backend/component/sidebar :: sidebar"></ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav th:replace="backend/component/nav :: nav"></nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div th:replace="backend/component/breadcrumb :: breadcrumb"></div>
                    <!-- 內容請填這裡~~~~~~~~~~~~~~~ -->
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">新增專欄文章資料:</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <form method="post" th:action="@{addColumnArticle}" th:object="${columnarticle}">
                                    <table>
                                        <tr>
                                            <td><label for="administrator.admNo">管理員編號:</label></td>
                                            <td>
                                                <select type="number" id="administrator.admNo" name="administrator.admNo" title="請輸入管理員編號" th:field="*{administrator.admNo}">
                                                    <option th:each="administrator : ${administratorListData}" th:value="${administrator.admNo}" th:text="${administrator.admNo}"></option>
                                                    <td><label class="error" th:if="${#fields.hasErrors('administrator.admNo')}" th:errors="*{administrator.admNo}" id="administrator.admNo.errors"></label></td>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label for="artTitle">專欄文章標題:</label></td>
                                            <td><input type="text" id="artTitle" title="請輸入文章標題" th:field="*{artTitle}"></td>
                                            <td><label class="error" th:if="${#fields.hasErrors('artTitle')}" th:errors="*{artTitle}" id="artTitle.errors"></label></td>
                                        </tr>
                                        <tr>
                                            <td><label for="artContent">專欄文章內容:</label></td>
                                            <td><textarea id="artContent" title="請輸入文章內容" th:field="*{artContent}" rows="10" cols="50"></textarea></td>
                                            <td><label class="error" th:if="${#fields.hasErrors('artContent')}" th:errors="*{artContent}" id="artContent.errors"></label></td>
                                        </tr>
                                        <tr>
                                            <td><input type="hidden" id="artTime" name="artTime" th:field="*{artTime}"></td>
                                            <td><label class="error" th:if="${#fields.hasErrors('artTime')}" th:errors="*{artTime}" id="artTime.errors"></label></td>
                                        </tr>
                                        <tr>
                                            <td><label for="artCatNo">文章分類編號:</label></td>
                                            <td>
                                                <select type="number" id="artCatNo" name="artCatNo" title="請輸入文章分類編號" th:field="*{artCatNo}">
                                                    <option th:each="columnarticle : ${columnArticleListData}" th:value="${columnarticle.artCatNo}" th:text="${columnarticle.artCatNo}"></option>
                                                    <label class="error" th:if="${#fields.hasErrors('artCatNo')}" th:errors="*{artCatNo}" id="artCatNo.errors"></label>
                                                </select>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><label for="artStat">文章狀態：</label></td>
                                            <td>
                                                <input type="hidden" id="artStat" name="artStat" th:field="*{artStat}">
                                                <span>上架</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="text-align: center;">
                                                <input type="submit" value="送出新增">
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer th:replace="backend/component/bottom :: bottom"></footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a th:replace="backend/component/scrolltotop :: scrolltotop"></a>
    <!-- Logout Modal-->
    <div th:replace="backend/component/logout :: logout"></div>

    <th:block th:insert="~{backend/component/plugin/backendplugin.html :: js}"></th:block>
    <!-- Page level plugins -->
    <script th:src="@{/backend/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/backend/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
    <!-- Page level custom scripts -->
    <script th:src="@{/backend/js/demo/datatables-demo.js}"></script>
    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        $(document).ready(function() {
            // 在表單提交時更新 artTime 字段為當前時間
            $('form').submit(function(event) {
                // 獲取 notTime 輸入元素
                var artTimeInput = $('#artTime');

                // 獲取當前時間
                var now = new Date();
                var year = now.getFullYear();
                var month = String(now.getMonth() + 1).padStart(2, '0');
                var day = String(now.getDate()).padStart(2, '0');
                var hours = String(now.getHours()).padStart(2, '0');
                var minutes = String(now.getMinutes()).padStart(2, '0');
                var seconds = String(now.getSeconds()).padStart(2, '0');

                // 組合日期時間為 SQL Timestamp 格式
                var dateTimeString = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;

                // 將日期時間設置為 artTime 輸入值
                artTimeInput.val(dateTimeString);
            });
        });

        // 在 DOM 加載完成時設置 artStat 輸入框的值為 0
        document.addEventListener('DOMContentLoaded', function() {
            // 選擇 ID 為 "notStat" 的 input 元素
            var artStatInput = document.getElementById('artStat');

            // 設置值為 0
            artStatInput.value = '0';
        });
    </script>
    <script>
        $(document).ready(function() {
            // 在表單提交時更新通知內容字段為手動輸入的值
            $('form').submit(function(event) {
                // 獲取手動輸入的通知內容
                var articleInput = $('#artContent').val().trim();

                // 獲取選擇的下拉式選單值
                var selectValue = $('select[name="artContent"]').val();

                // 移除手動輸入的通知內容中的逗號
                articleInput = articleInput.split(',').join('');

                // 如果手動輸入的通知內容存在，將手動輸入的值設置為通知內容的值
                if (articleInput !== '') {
                    $('input[name="artContent"]').val(manualInput);
                    $('select[name="artContent"]').removeAttr('name'); // 移除下拉選單的 name 屬性，避免被提交
                } else if (selectValue !== '') { // 如果手動輸入為空且選擇了下拉式選單，將下拉選單的值設置為通知內容的值
                    $('input[name="artContent"]').val(selectValue);
                } else {
                    // event.preventDefault(); // 如果手動輸入和下拉選單都沒有值，阻止表單提交
                }
            });

            // 去除下拉式選單中重複的值
            var uniqueValues = {};
            $('select[name="artContent"] option').each(function() {
                var text = $(this).text();
                uniqueValues[text] = text;
            });

            $('select[name="artContent"]').empty();

            // 添加未選擇的選項
            var defaultOption = $('<option>').text('未選擇').val('');
            $('select[name="artContent"]').append(defaultOption);

            for (var value in uniqueValues) {
                var option = $('<option>').text(value).val(value);
                $('select[name="artContent"]').append(option);
            }
        });
    </script>

</main>
</body>
</html>
