<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top"
	id="sideNav"
	th:fragment="nav">
	 <div class="user-info">
				<th:block th:if="${session.EmpSuccess}">
                	<p style="color: white;
                			  font-size: 24px !important;
                			  font-weight: bold;
                			  margin:20px 0px;"
                			  th:text="'員工名稱:' + ' ' + ${session.EmpSuccess.empName}"></p>

                	<a style="text-decoration: none;
                			  color:white;
                			  font-size: 20px !important;
                			  font-weight: bold;
                			  padding: 5px;
                			  border-radius: 10px;
            				  cursor: pointer;"
            				  
                			  onmouseover="this.style.color='red'; this.style.backgroundColor='yellow'" 
                			  onmouseout="this.style.color='white'; this.style.backgroundColor=''"
                			  
                			  th:href="@{/BackStage/logout}">登出</a>
                </th:block>
                
    </div>
            
            
	<a class="navbar-brand js-scroll-trigger" href="#page-top"> <span
		class="d-block d-lg-none"></span> <span class="d-none d-lg-block">
			<img id="nav-img"
			class="img-fluid img-profile rounded-circle mx-auto mb-2"
			th:src="@{${activeNavItemId} + '/shop-solid.svg'}"
			th:attr="data-active-nav-item-id=${activeNavItemId}" alt="導航icon" />
	</span>
	</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
		data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav">
			<li id="li_1" class="nav-item" th:if="${session.EmpSuccess.empFun.contains(1)}"><a
				class="nav-link js-scroll-trigger nav-li" th:href="@{/BackStage/#MemManage}">會員管理</a>
			</li>
			<li id="li_2" class="nav-item" th:if="${session.EmpSuccess.empFun.contains(2)}"><a
				class="nav-link js-scroll-trigger nav-li" th:href="@{/BackStage/#RentAppManage}">物件管理</a></li>
			<li id="li_3" class="nav-item" th:if="${session.EmpSuccess.empFun.contains(3)}"><a
				class="nav-link js-scroll-trigger nav-li" th:href="@{/BackStage/#ShopManage}">購物管理</a>
			</li>
			<li id="li_4" class="nav-item" th:if="${session.EmpSuccess.empFun.contains(4)}"><a
				class="nav-link js-scroll-trigger nav-li" th:href="@{/BackStage/#NoticeManage}">公告管理</a></li>
			<li id="li_5" class="nav-item" th:if="${session.EmpSuccess.empFun.contains(5)}"><a
				class="nav-link js-scroll-trigger nav-li" th:href="@{/BackStage/#ComplaintManage}">投訴管理</a></li>
			<li id="li_6" class="nav-item" th:if="${session.EmpSuccess.empFun.contains(6)}"><a
				class="nav-link js-scroll-trigger nav-li" th:href="@{/BackStage/#BackStageManage}">後台管理</a></li>
		</ul>
	</div>
</nav>